﻿@model carblog.Kayit

@{
    ViewBag.Title = "Kullanıcı Ekleme";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div id="main-wrap">
    <div id="main" style="-webkit-transform-origin: 50% 665px;">
        <div id="content">
            <div id="post-1039" class="post type-post status-publish format-standard hentry category-blog">
                <div class="row-fluid two-cols-layout" style="min-height: 799px;">
                    <div id="content_wrap" class="span8">
                        <div class="title-bar-wrap " id="title-bar">
                            <div id="title-wrap">
                                <div class="panel heading">
                                    <h4>Kullanıcılar Ekleme</h4>
                                </div>
                                <div class="title-wrap-inn">
                                    @using (Html.BeginForm("AddUser","AdminHomeController", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
                                    {
                                        <div class="panel-body">
                                            <br>
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.AdSoyad, new { @class = "col-sm-3 control-label" })
                                                <div class="col-sm-6">
                                                    @Html.TextBoxFor(m => m.AdSoyad, new { @class = "form-control", placeholder = "Ad Soyad" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.KullaniciAdi, new { @class = "col-sm-3 control-label" })
                                                <div class="col-sm-6">
                                                    @Html.TextBoxFor(m => m.KullaniciAdi, new { @class = "form-control datepicker", placeholder = "Kullanıcı Adı" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.Password, new { @class = "col-sm-3 control-label" })
                                                <div class="col-sm-6">
                                                    @Html.TextBoxFor(m => m.Password, new { @class = "form-control datepicker", placeholder = "Password" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.EMail, new { @class = "col-sm-3 control-label" })
                                                <div class="col-sm-6">
                                                    @Html.TextBoxFor(m => m.EMail, new { @class = "form-control datepicker", placeholder = "E-Mail Adresi" })
                                                </div>
                                            </div>
                                        </div>
                                            <div class="row">
                                                <div class="col-sm-6 col-sm-offset-3">
                                                    <p class="form-submit">
                                                        <input name="submit" type="submit" id="submit" value="Gönder">
                                                    </p>
                                                </div>
                                            </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>