﻿@model carblog.Kayit

@{
    ViewBag.Title = "Silme";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div id="main-wrap">
    <div id="main" style="-webkit-transform-origin: 50% 665px;">
        <div id="content">
            <div id="post-1039" class="post type-post status-publish format-standard hentry category-blog">
                <div class="row-fluid two-cols-layout" style="min-height: 799px;">
                    <div id="content_wrap" class="span8">
                        <div class="title-bar-wrap " id="title-bar">
                            <div id="title-wrap">
                                <div class="title-wrap-inn">
                                    <h2>Silme</h2>
                                    Silmek İstediğinizden Emin Misiniz?
                                    <br />
                                    @Model.KullaniciAdi;
                                    <br />
                                    @Html.ActionLink("Kabul Ediyorum", "DeleteConfirm", new { KullaniciAdi = Model.KullaniciAdi })
                                    @Html.ActionLink("İptal", "AdminIndex")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
