﻿@model IEnumerable<Kayit>

@{
    ViewBag.Title = "Kullanıcılar";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div id="main-wrap">
        <div id="main" style="-webkit-transform-origin: 50% 665px;">
            <div id="content">
                <div id="post-1039" class="post type-post status-publish format-standard hentry category-blog">
                    <div class="row-fluid two-cols-layout" style="min-height: 799px;">
                        <div id="content_wrap" class="span8">
                            <div class="title-bar-wrap " id="title-bar">
                                <div id="title-wrap">
                                    <div class="title-wrap-inn">
                                        <div class="panel heading">
                                            <h4>Kullanıcılar Tablosu</h4>
                                        </div>
                                            <div class="panel-body">
                                                <table class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>Ad Soyad</th>
                                                            <th>Kullanıcı Adı</th>
                                                            <th>E-Mail</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var item in Model)
                                                        {
                                                            <tr>
                                                                <td>@item.AdSoyad</td>
                                                                <td>@item.KullaniciAdi</td>
                                                                <td>@item.EMail</td>
                                                                <td>@Html.ActionLink("Düzenle", "Edit", "AdminHome", new { id = item.KullaniciAdi }, null) | @Html.ActionLink("Sil", "Delete", "AdminHome", new { id = item.KullaniciAdi }, null) </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 


