﻿@{
    ViewBag.Title = "About";
}
<div id="main-wrap">
    <div id="main" style="-webkit-transform-origin: 50% 665px;">
        <div id="content">
            <div id="post-574" class="post-574 page type-page status-publish hentry">
                <div class="row-fluid " style="min-height: 799px;">
                    <div id="content_wrap" class="">
                        <div class="content-wrap-inn top-space bottom-space ">
                            <div class="pagebuilder-wrap">
                                <div class="container">
                                    <div class="row-fluid">
                                        <div class="span12 moudle">
                                            <div data-post="20140425-001758-102"
                                                 class="text_block ux-mod-nobg ">
                                                <a name="20140425-001758-102" class="20140425-001758-102"></a>
                                                <br>
                                                <h1>
                                                    Hazırlayanlar
                                                </h1>
                                                <br>
                                                <br> Bu site Sakarya Üniversitesi Bilgisayar Ve Bilişim Bilimleri Fakültesi Bilgisayar Mühendisliği Web Programlama dersi için aşağıdaki öğrenciler tarafından hazırlanmıştır.
                                                <p>• Ali Rıza Oyan</p>
                                                <p>• Utku Akgüngör</p>
                                                <p>• Samet Yasin Nayim</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="fullwrap_moudle">
                                    <div class="row-fluid">
                                        <div class="fullwidth-wrap parallax  top-space-80-in  bottom-space-40-in fullwidth-text-white bottom-space-40">
                                            <div class="fullwrap-video">
                                                <video autoplay="" loop="" poster="http://ximudesign.com/aside/wp-content/uploads/sites/17/2014/04/video-post.jpg">
                                                    <source src="http://ximudesign.com/project/bgvideo.webm" type="video/webm"><!--enter the “.webm” video url here for firefox/chrome/opera browser-->
                                                    <source src="http://ximudesign.com/project/bgvideo.m4v" type="video/mp4"><!--enter the “.m4v” or ".mp4" video url here for IE/chrome/safari browser-->
                                                    <source src="http://ximudesign.com/project/bgvideo.ogg" type="video/ogg"><!--enter the “.ogg” or ".ogv" video url here for firefox/chrome/opera browser-->
                                                </video>
                                                <div class="video-cover" style="background-image: url(http://ximudesign.com/aside/wp-content/uploads/sites/17/2014/04/video-post.jpg);"></div>
                                            </div>
                                            <!---->
                                            <div class="container">
                                                <div class="row-fluid">
                                                    <div class="span12 moudle moudle_has_animation bouncdein-right-translate animation-default-ux animation-scroll-ux  bottom-space-40  animation_hidden">
                                                        <div data-post="20140519-080458-373"
                                                             class="text_block ux-mod-nobg ">
                                                            <a name="20140519-080458-373" class="20140519-080458-373"></a>
                                                            &nbsp; &nbsp; &nbsp;
                                                            <h1>CarBlog</h1>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End content-wrap-inn-->
                    </div>
                    <!--end content_wrap-->
                </div>
            </div>
            <!--end post-->
        </div>
        <!--end content-->
    </div>
    <!--End #main-->
</div>
<script type="text/javascript" src="~/Scripts/bootstrap.js"></script>
<script type="text/javascript" src="~/Scripts/waypoints.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.flexslider-min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.jplayer.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.gray.min.js"></script>
<script type="text/javascript" src="~/Scripts/main.js"></script>
<script type="text/javascript" src="~/Scripts/custom.theme.isotope.js"></script>
<script type="text/javascript" src="~/Scripts/custom.theme.js"></script>
<script type="text/javascript" src="~/Scripts/theme.pagebuilder.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function () {
        var ux_pb = new ThemePageBuilder();
        ux_pb.init();
    });
</script>