﻿
@{
    ViewBag.Title = "Caddy";
}
<div id="main-wrap">
    <div id="main" style="-webkit-transform-origin: 50% 665px;">
        <div id="content">
            <div id="post-1039" class="post type-post status-publish format-standard hentry category-blog">
                <div class="row-fluid two-cols-layout" style="min-height: 799px;">
                    <div id="content_wrap" class="span8">
                        <div class="title-bar-wrap " id="title-bar">
                            <div id="title-wrap">
                                <div class="title-wrap-inn">
                                    <div id="main-title">
                                        <h1 class="main-title">2015 VW Caddy ülkemizde satışa sunuldu</h1>
                                        <div class="post-meta">
                                            <span class="post-meta-unit date">Date: Temmuz 25 2015</span> <span class="post-meta-unit tag"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End #title-wrap-->
                        </div>
                        <!--End #title-bar-wrap"-->
                        <div class="entry">
                            <div class="td-post-featured-image"><a href="http://www.turkeycarblog.com/wp-content/uploads/2015/07/Yeni-VW-Caddy-4-2015.jpg" data-caption=""><img width="320" height="215" itemprop="image" class="entry-thumb td-modal-image" src="http://www.turkeycarblog.com/wp-content/uploads/2015/07/Yeni-VW-Caddy-4-2015.jpg" alt="" title="Yeni-VW-Caddy-4-2015" /></a></div>
                            <br />
                            <p>Volkswagen Ticari Araç&#8217;ın sınıfının en beğenilen modellerinden biri olan Caddy, yeni Volkswagen DNA&#8217;sını taşıyan karakteristik yepyeni tasarımıyla Volkswagen showroom&#8217;larında yerini aldı.<span id="more-26289"></span></p>
                            <p>4. nesil Yeni VW Caddy artan konforu, geniş sürücü destek ve güvenlik sistemleriyle öne çıkıyor.</p>
                            <p>Pazara sunulduğu tarihten bu yana dünya genelinde yaklaşık 1,5 milyon adetlik bir satış rakamına ulaşan VW Caddy&#8217;nin dördüncü nesli satışa sunuldu.</p>
                            <p>Türkiye&#8217;de 1.6 lt TDI 102 PS motorla pazara sunulan 2015 VW Caddy, 7-ileri DSG ve 5-ileri manuel olmak üzere iki farklı şanzıman seçeneğiyle, Trendline ve Comfortline olmak üzere de iki farklı donanım seviyesinde alınabiliyor.</p>
                            <p>2015 VW Caddy 49 bin 840 TL&#8217;den başlayan fiyatlarla satışa sunuluyor.</p>
                            <h2>Dinamik tasarım</h2>
                            <p>Her açıdan geliştirilen 2015 VW Caddy, kendine özgü, karakteristik yeni tasarımıyla yepyeni bir görünüme sahip. Yeni Volkswagen DNA&#8217;sını taşıyan keskinleştirilmiş kıvrımlar, belirginleştirilmiş hatlar Yeni Caddy&#8217;ye dinamik bir görünüm sağlıyor.</p>
                            <p><a href="http://lh3.googleusercontent.com/-jnww5mlRN-0/VZsWzEiMzGI/AAAAAAAB0ao/TYHUrPDdptw/s1600/2015-VW-Caddy-4-3.jpg"><img class="pie-img td-modal-image" src="http://lh3.googleusercontent.com/-jnww5mlRN-0/VZsWzEiMzGI/AAAAAAAB0ao/TYHUrPDdptw/s1280/2015-VW-Caddy-4-3.jpg" alt="2015-VW-Caddy-4-3.jpg" width="320" height="215" /></a></p>
                            <h2>Yeni güvenlik sistemleri</h2>
                            <p>Yeni Caddy modellerinde standart olarak sunulan &#8216;Yorgunluk Tespit Sistemi&#8217; sürüş hareketlerinde yorgunluk tespit ettiği anda sürücüyü yolculuğa ara verilmesi konusunda hem görsel hem de sesli olarak uyarıyor.</p>
                            <p>Yeni eklenen güvenlik sistemlerinden bir diğeri de &#8216;İkincil çarpışma önleme asistanı&#8217;. 2015 VW Caddy&#8217;de standart olarak sunulan sistem olası bir ikinci çarpışmayı önleme amacıyla ilk çarpışmadan sonra aracı frenliyor. İki bağımsız sensör sayesinde çarpışmanın derecesini algılıyor ve çarpışma yeterince kuvvetliyse aracı frenliyor ve hızını 10 km/s&#8217;ye kadar düşürüyor. Frenleme esnasında sürücü aracın kontrolünü istediği zaman devralabiliyor.</p>
                            <h2>Bilgi ve eğlence sistemi</h2>
                            <p>Yenilenen ve standart olarak sunulan radyonun renkli 5&#8243; dokunmatik ekranı üzerinden hem araç bilgileri takip ediliyor hem de radyo kontrol edilebiliyor. MP3 ve WMA uyumlu CD çalar, harici SD kart/AUX-in/USB desteği ile istenilen kaynaktan müzik dinleme keyfi sunuyor. Bluetooth özelliği cep telefonu veya tabletlerde bulunan müziklere erişim sağlarken telefon görüşmeleri de güvenli bir şekilde rahatlıkla gerçekleştirilebiliyor.</p>
                            <p><a href="http://lh3.googleusercontent.com/-jfNn0jK5YmU/VZsW2Jz7YbI/AAAAAAAB0a0/CHw3q2YlGwc/s1600/2015-VW-Caddy-4-ic-mekan.jpg"><img class="pie-img td-modal-image" src="http://lh3.googleusercontent.com/-jfNn0jK5YmU/VZsW2Jz7YbI/AAAAAAAB0a0/CHw3q2YlGwc/s1640/2015-VW-Caddy-4-ic-mekan.jpg" alt="2015-VW-Caddy-4-ic-mekan.jpg" width="320" height="215" /></a></p>
                            <h2>Yepyeni ön konsol</h2>
                            <p>2015 VW Caddy&#8217;nin tamamen yenilenen ön konsolu şık ve kaliteli çizgiler taşıyor. Sürüş konforunu arttıran fonksiyonel ön konsolda radyo kumandalı deri kaplı yeni direksiyon ilk bakışta dikkat çekiyor. Yeni üfleçler ve üfleçlerin üzerinden geçen dekoratif yatay şerit gibi detaylar Yeni Caddy&#8217;yi çok şık gösteriyor. Kapı içlerindeki kaplama yüksek kalite malzeme ve işçiliği ile göze çarpıyor.</p>
                            <p>2015 VW Caddy&#8217;de, önceki nesillerde görülen tüm olumlu fonksiyonel özelliklerin korunduğu dikkat çekiyor. Aracın görünüş, kendine özgülük ve dinamizm özelliklerinde fark edilir şekilde iyileştirmeler göze çarpıyor.</p>
                            <h2>2015 VW Caddy Fiyat Listesi</h2>
                            <p>
                                2015 VW Caddy Maxi Van 1.6 TDI 102 PS &#8211; 49.840 TL<br />
                                2015 VW Caddy Trendline 1.6 TDI 102 PS &#8211; 61.100 TL<br />
                                2015 VW Caddy Trendline 1.6 TDI 102 PS DSG &#8211; 68.370 TL<br />
                                2015 VW Caddy Comfortline 1.6 TDI 102 PS &#8211; 68.230 TL<br />
                                2015 VW Caddy Comfortline 1.6 TDI 102 PS DSG &#8211; 75.900 TL
                            </p>
                        </div>
                        <div id="comments">
                            <div id="respondwrap">
                                <div id="respond" class="comment-respond">
                                    <h3 id="reply-title" class="comment-reply-title">
                                        <span class="comm-reply-title">Yorum Yap</span> <small>
                                            <a rel="nofollow" id="cancel-comment-reply-link"
                                               href="/aside/2014/05/17/standard-format-post/#respond"
                                               style="display: none;">CANCEL REPLY</a>
                                        </small>
                                    </h3>
                                    <form action="http://ximudesign.com/aside/wp-comments-post.php"
                                          method="post" id="commentform" class="comment-form">
                                        <p class="span6">
                                            <input id="author" name="author" type="text"
                                                   class="requiredFieldcomm" value="Ad" size="30"
                                                   aria-required="true" tabindex="1"
                                                   onfocus="if (this.value == 'Ad') { this.value = ''; }"
                                                   onblur="if(this.value==''){this.value='NAME';}">
                                        </p>
                                        <p class="span6">
                                            <input id="email" name="email" type="text"
                                                   class="email requiredFieldcomm" value="E-Mail" size="30"
                                                   aria-required="true" tabindex="2"
                                                   onfocus="if (this.value == 'E-Mail') { this.value = ''; }"
                                                   onblur="if(this.value==''){this.value='EMAIL';}">
                                        </p>
                                        <p>
                                            <textarea id="comment" name="comment" class="requiredFieldcomm"
                                                      cols="100%" tabindex="4" aria-required="true"
                                                      onfocus="if(this.value==this.defaultValue){this.value='';}"
                                                      onblur="if(this.value==''){this.value=this.defaultValue;}">
                                                Yorumunuz
                                            </textarea>
                                        </p>
                                        <p class="form-submit">
                                            <input name="submit" type="submit" id="submit" value="Gönder">
                                            <input type="hidden" name="comment_post_ID" value="1039"
                                                   id="comment_post_ID"> <input type="hidden"
                                                                                name="comment_parent" id="comment_parent" value="0">
                                        </p>
                                    </form>
                                </div>
                                <!-- #respond -->
                            </div>
                        </div>
                        <!-- #comments -->
                    </div>
                    <!--end content_wrap-->

                </div>
            </div>
            <!--end post-->
        </div>
        <!--end content-->
    </div>
    <!--End #main-->
</div>