﻿
@{
    ViewBag.Title = "Ferrari";
}
<div id="main-wrap">
    <div id="main" style="-webkit-transform-origin: 50% 665px;">
        <div id="content">
            <div id="post-1039" class="post type-post status-publish format-standard hentry category-blog">
                <div class="row-fluid two-cols-layout" style="min-height: 799px;">
                    <div id="content_wrap" class="span8">
                        <div class="title-bar-wrap " id="title-bar">
                            <div id="title-wrap">
                                <div class="title-wrap-inn">
                                    <div id="main-title">
                                        <h1 class="main-title">Ferrari 488 GTB ülkemizde satışa sunuluyor</h1>
                                        <div class="post-meta">
                                            <span class="post-meta-unit date">Date: Temmuz 26 2015</span> <span class="post-meta-unit tag"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End #title-wrap-->
                        </div>
                        <!--End #title-bar-wrap"-->
                        <div class="entry">
                            <div class="td-post-featured-image"><a href="http://www.turkeycarblog.com/wp-content/uploads/2015/07/Ferrari-488-GTB-05.jpg" data-caption=""><img width="320" height="215" itemprop="image" class="entry-thumb td-modal-image" src="http://www.turkeycarblog.com/wp-content/uploads/2015/07/Ferrari-488-GTB-05.jpg" alt="" title="Ferrari-488-GTB-05" /></a></div>
                            <br />
                            <p>FerMas, Ferrari&#8217;nin en yeni süper spor modeli 488 GTB&#8217;yi 523 bin 475 Euro&#8217;dan başlayan anahtar teslim satış fiyatıyla Ağustos ayından itibaren Türkiye&#8217;de ilk müşterilerine teslim etmeye başlıyor.<span id="more-26327"></span></p>
                            <p>Ferrari’nin 10 yıldır yürüttüğü, markanın özel müşterileri için sadece pistlerde kullanılmak üzere tasarladığı otomobilleri kapsayan XX programında edindiği bilgi birikiminden de edinilen veriler ışığında geliştirdiği 488 GTB, Ağustos ayından itibaren ülkemizde de satışa sunuluyor. Markanın yarışçı ruhununu tüm öğeleriyle üzerinde taşıyan ve 523 bin 475 Euro&#8217;dan başlayan anahtar teslim satış fiyatına sahip Ferrari 488 GTB, pist otomobillerinin performansını yollara taşıyarak farkını ortaya koyarken, gücü, atikliği ve sıra dışı tepki zamanlarıyla, sürücüsüne en üst limitlerde bir sürüş keyfi vaat ediyor.</p>
                            <p>FerMas Şirket Müdürü Sinan Saip Bel, &#8220;İlave alarak Türkiye kotasını arttırdığımız ve 6 adete çıkardığımız Ferrari 488 GTB modelimize Türk süper spor otomobilseverler ve Ferrari markası tutkunları büyük ilgi gösterdi. 6 Ferrari 488 GTB&#8217;nin tamamı önceden satıldı, müşterilerimize Ağustos ayından itibaren teslimini yapmaya başlayacağız&#8221; dedi.</p>
                            <p>Ferrari 488 GTB&#8217;nin yeni 3.9 litrelik V8 turbo motoru, güç, tork ve tepki süreleri açısından sınıfının en yüksek değerlerinden birini sunarken, mimarisiyle de standartları değiştirmeyi hedefliyor. Ferrari 488 GTB’nin 8 bin devirde 670 HP güç üreten motoru, 7. viteste 760 Nm maksimum tork üretebilmesiyle dikkat çekiyor. 0 &#8211; 200 km/s hızlanmasını sadece 8.3 saniyede tamamlayan ve 330 km/s&#8217;nin üzerinde maksimum bir hıza erişebilen Ferrari 488 GTB, sıra dışı sportif tasarımıyla da farklılığını ortaya koyuyor.</p>
                        </div>
                        <div id="comments">
                            <div id="respondwrap">
                                <div id="respond" class="comment-respond">
                                    <h3 id="reply-title" class="comment-reply-title">
                                        <span class="comm-reply-title">Yorum Yap</span> <small>
                                            <a rel="nofollow" id="cancel-comment-reply-link"
                                               href="/aside/2014/05/17/standard-format-post/#respond"
                                               style="display: none;">CANCEL REPLY</a>
                                        </small>
                                    </h3>
                                    <form action="http://ximudesign.com/aside/wp-comments-post.php"
                                          method="post" id="commentform" class="comment-form">
                                        <p class="span6">
                                            <input id="author" name="author" type="text"
                                                   class="requiredFieldcomm" value="Ad" size="30"
                                                   aria-required="true" tabindex="1"
                                                   onfocus="if (this.value == 'Ad') { this.value = ''; }"
                                                   onblur="if(this.value==''){this.value='NAME';}">
                                        </p>
                                        <p class="span6">
                                            <input id="email" name="email" type="text"
                                                   class="email requiredFieldcomm" value="E-Mail" size="30"
                                                   aria-required="true" tabindex="2"
                                                   onfocus="if (this.value == 'E-Mail') { this.value = ''; }"
                                                   onblur="if(this.value==''){this.value='EMAIL';}">
                                        </p>
                                        <p>
                                            <textarea id="comment" name="comment" class="requiredFieldcomm"
                                                      cols="100%" tabindex="4" aria-required="true"
                                                      onfocus="if(this.value==this.defaultValue){this.value='';}"
                                                      onblur="if(this.value==''){this.value=this.defaultValue;}">
                                                Yorumunuz
                                            </textarea>
                                        </p>
                                        <p class="form-submit">
                                            <input name="submit" type="submit" id="submit" value="Gönder">
                                            <input type="hidden" name="comment_post_ID" value="1039"
                                                   id="comment_post_ID"> <input type="hidden"
                                                                                name="comment_parent" id="comment_parent" value="0">
                                        </p>
                                    </form>
                                </div>
                                <!-- #respond -->
                            </div>
                        </div>
                        <!-- #comments -->
                    </div>
                    <!--end content_wrap-->

                </div>
            </div>
            <!--end post-->
        </div>
        <!--end content-->
    </div>
    <!--End #main-->
</div>