﻿
@{
    ViewBag.Title = "Ford";
}
<div id="main-wrap">
    <div id="main" style="-webkit-transform-origin: 50% 665px;">
        <div id="content">
            <div id="post-1039" class="post type-post status-publish format-standard hentry category-blog">
                <div class="row-fluid two-cols-layout" style="min-height: 799px;">
                    <div id="content_wrap" class="span8">
                        <div class="title-bar-wrap " id="title-bar">
                            <div id="title-wrap">
                                <div class="title-wrap-inn">
                                    <div id="main-title">
                                        <h1 class="main-title">2015 Ford Mondeo 2.0lt TDCI dizel/otomatik Türkiye’de</h1>
                                        <div class="post-meta">
                                            <span class="post-meta-unit date">Date: Ağustos 30 2015</span> <span class="post-meta-unit tag"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End #title-wrap-->
                        </div>
                        <!--End #title-bar-wrap"-->
                        <div class="entry">
                            <div class="td-post-featured-image"><a href="http://www.turkeycarblog.com/wp-content/uploads/2015/07/2015-Ford-Mondeo.jpg" data-caption=""><img width="320" height="215" itemprop="image" class="entry-thumb td-modal-image" src="http://www.turkeycarblog.com/wp-content/uploads/2015/07/2015-Ford-Mondeo.jpg" alt="" title="2015-Ford-Mondeo" /></a></div>
                            <br />
                            <p>2015&#8217;i &#8220;Otomobil yılı&#8221; ilan eden Ford, yeniliklerine devam ediyor.<span id="more-26295"></span></p>
                            <p>Yeni Focus, Mondeo,Fiesta Red&amp;Fiesta Black ve C-MAX modellerini pazara sunarak önemli bir atak gerçekleştirdikten sonra, yeni, 180 PS güç sunan 2.0 lt TDCI PowerShift otomatik şanzımana sahip Mondeo dasatışa sunuluyor.</p>
                            <p>2015 yılının başında Türkiye&#8217;de lansmanı yapılan ve büyükilgi gören 2015 Ford Mondeo, 1.5-litre EcoBoost 160 PS benzinli ve 1.6-litre TDCI 115 PS dizel motorlara ek olarak, artık 2.0-litre TDCI 180 PS dizel seçeneğine de sahip oluyor. Euro 6 emisyon normlarını karşılayan 2015 Ford Mondeo 2.0-litre TDCI versiyonunda 6 ileri çift kavramalı PowerShift otomatik şanzıman sunuluyor. Mondeo&#8217;nun 2.0 TDCI motoru 4.8 lt/100 km&#8217;lik ortalama yakıt tüketimi ile segmentinde öne çıkan bir seçenek olarak dikkat çekiyor. 180 PS güç sunarak Mondeo ürün gamının en güçlüsü olan 2.0 litrelik turbo dizel TDCI motor400 Nm tork üretiyor.</p>
                            <p>EuroNCAPten 5 yıldızlı güvenliğe sahip 2015 Ford Mondeo&#8217;nun Hava Yastıklı Arka Emniyet Kemerleri otomotiv sektöründe bir ilk olma özelliğine sahip. Arka koltuklarda bulunan bu benzersiz sistem, yolculara yepyeni bir koruma teknolojisi sağlıyor. 2015 Ford Mondeo&#8217;da sürücü ve ön yolcu için ön ve yan hava yastıkları, yan perde havayastıkları ve sürücü diz havayastığı standart olarak sunuluyor.Düşük hızlarda öndeki araca çarpmayı engelleyen Aktif Şehir İçi Güvenlik Sistemi, Kör Nokta Uyarı Sistemi, Şerit Takip Sistemi, Şeritte Kalma Yardımcısı, Sürücü Dikkat Takip Sistemi gibi teknolojiler de, yeni Mondeo ürün gamında sunulan diğer teknolojiler arasında yer alıyor.</p>
                            <p>Sedan gövde seçeneğiyle Style ve Titanium donanım seviyeleri ile sunulan 2015 Ford Mondeo 2.0 TDCI 180 PS PowerShift 147.000 TL&#8217;den başlayan tavsiye edilen anahtar teslim satış fiyatına sahip.</p>
                        </div>
                        <div id="comments">
                            <div id="respondwrap">
                                <div id="respond" class="comment-respond">
                                    <h3 id="reply-title" class="comment-reply-title">
                                        <span class="comm-reply-title">Yorum Yap</span> <small>
                                            <a rel="nofollow" id="cancel-comment-reply-link"
                                               href="/aside/2014/05/17/standard-format-post/#respond"
                                               style="display: none;">CANCEL REPLY</a>
                                        </small>
                                    </h3>
                                    <form action="http://ximudesign.com/aside/wp-comments-post.php"
                                          method="post" id="commentform" class="comment-form">
                                        <p class="span6">
                                            <input id="author" name="author" type="text"
                                                   class="requiredFieldcomm" value="Ad" size="30"
                                                   aria-required="true" tabindex="1"
                                                   onfocus="if (this.value == 'Ad') { this.value = ''; }"
                                                   onblur="if(this.value==''){this.value='NAME';}">
                                        </p>
                                        <p class="span6">
                                            <input id="email" name="email" type="text"
                                                   class="email requiredFieldcomm" value="E-Mail" size="30"
                                                   aria-required="true" tabindex="2"
                                                   onfocus="if (this.value == 'E-Mail') { this.value = ''; }"
                                                   onblur="if(this.value==''){this.value='EMAIL';}">
                                        </p>
                                        <p>
                                            <textarea id="comment" name="comment" class="requiredFieldcomm"
                                                      cols="100%" tabindex="4" aria-required="true"
                                                      onfocus="if(this.value==this.defaultValue){this.value='';}"
                                                      onblur="if(this.value==''){this.value=this.defaultValue;}">
                                                Yorumunuz
                                            </textarea>
                                        </p>
                                        <p class="form-submit">
                                            <input name="submit" type="submit" id="submit" value="Gönder">
                                            <input type="hidden" name="comment_post_ID" value="1039"
                                                   id="comment_post_ID"> <input type="hidden"
                                                                                name="comment_parent" id="comment_parent" value="0">
                                        </p>
                                    </form>
                                </div>
                                <!-- #respond -->
                            </div>
                        </div>
                        <!-- #comments -->
                    </div>
                    <!--end content_wrap-->

                </div>
            </div>
            <!--end post-->
        </div>
        <!--end content-->
    </div>
    <!--End #main-->
</div>