﻿
@{
    ViewBag.Title = "Ibiza";
}
<div id="main-wrap">
    <div id="main" style="-webkit-transform-origin: 50% 665px;">
        <div id="content">
            <div id="post-1039" class="post type-post status-publish format-standard hentry category-blog">
                <div class="row-fluid two-cols-layout" style="min-height: 799px;">
                    <div id="content_wrap" class="span8">
                        <div class="title-bar-wrap " id="title-bar">
                            <div id="title-wrap">
                                <div class="title-wrap-inn">
                                    <div id="main-title">
                                        <h1 class="main-title">Makyajlı Seat Ibiza ailesi ülkemizde satışa sunuldu</h1>
                                        <div class="post-meta">
                                            <span class="post-meta-unit date">Date: Ağustos 24 2015</span> <span class="post-meta-unit tag"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End #title-wrap-->
                        </div>
                        <!--End #title-bar-wrap"-->
                        <div class="entry">
                            <div class="td-post-featured-image"><a href="http://www.turkeycarblog.com/wp-content/uploads/2015/08/Makyajli-Seat-Ibiza-2015.jpg" data-caption=""><img width="320" height="215" itemprop="image" class="entry-thumb td-modal-image" src="http://www.turkeycarblog.com/wp-content/uploads/2015/08/Makyajli-Seat-Ibiza-2015.jpg" alt="" title="Makyajli-Seat-Ibiza-2015" /></a></div>
                            <br />
                            <p>SEAT&#8217;ın efsane modelleri arasında yer alan Yeni SEAT Ibiza, satışa sunulmaya başlandı.<span id="more-26451"></span></p>
                            <p>Makyajlı Seat Ibiza, eğlenceli sürüş keyfi sunan teknolojik özellikleri ve yeni verimli motor seçenekleriyle sınıfının iddialı modelleri arasındaki yerini sağlamlaştırıyor.</p>
                            <p>SEAT&#8217;ın, bir dizi yenilikçi teknolojiyle donatılan Yeni Ibiza modeli showroomlarda yerini aldı. Leon&#8217;un başarılı formülünü tüm ürün portföyüne entegre etmeye başlayan SEAT, Yeni Ibiza&#8217;da bunun ilk örneğini sergiliyor.</p>
                            <p>Tüm dünyada son 30 yıl içerisinde 5 milyon adedin üzerinde bir satış rakamı yakalayarak, SEAT’ın en başarılı modeli olan Ibiza&#8217;nın yeni neslinde verimlilik, kalite ve güvenliğin yanı sıra geliştirilmiş teknolojik özelliklere de özel önem verilmiş.</p>
                            <p>Yeni motorlar, kişisel donanım seçenekleri, ek güvenlik sistemleri ve tamamen yenilenmiş bilgi-eğlence sistemi, Ibiza model ailesini sınıfının en iyi ve en fonksiyonel serilerinden biri haline getiriyor. Geliştirilmiş teknik özellikleriyle konforu yepyeni bir düzeye çıkartırken, yeniden tasarlanan iç mekanda kalite düzeyi ve hissini artırıyor.</p>
                            <p>Türkiye&#8217;de iki benzinli ve bir dizel motor seçeneğiyle satışa sunulan Yeni Ibiza, Reference ve Style donanım paketleriyle alınabiliyor. SEAT Ibiza’nın 1.0lt 75 hp motor seçeneğine sahip Reference donanımlı versiyonu, 37 bin TL&#8217;den başlayan fiyatlarla sunuluyor.</p>
                            <p><a href="http://lh3.googleusercontent.com/-dYXXY5h_5wQ/Vdo-Wpu-FOI/AAAAAAAB0wE/ncNcL8_GuSU/s1600/Makyajli-Seat-Ibiza-2015-09.jpg"><img class="pie-img td-modal-image" src="http://lh3.googleusercontent.com/-dYXXY5h_5wQ/Vdo-Wpu-FOI/AAAAAAAB0wE/ncNcL8_GuSU/s1600/Makyajli-Seat-Ibiza-2015-09.jpg" alt="Makyajli-Seat-Ibiza-2015-09.jpg" width="320" height="215" /></a></p>
                            <h2>Dış tasarımda yenilikler</h2>
                            <p>Beş kapılı Ibiza, üç kapılı Ibiza SC ve Ibiza Sport Tourer versiyonların dış tasarımı hem tüketiciler hem de potansiyel tüketicilerin büyük beğenisini kazandı. Bu nedenle yeni seride yapılan değişiklikler LED gündüz sürüş farları, 16 ve 17 inçlik yeni jant tasarımı ve Moonstone Gümüş, Chili Kırmızısı gibi yeni renk seçenekleriyle sınırlı tutulmuş.</p>
                            <h2>İç mekanda büyük farklılık</h2>
                            <p>Makyajlı SEAT Ibiza&#8217;nın yeni iç mekan tasarımının temelinde tamamen kişiselleştirilebilir unsurlar içerme anlayışı yer alıyor. Sürücüyü merkeze alan gösterge paneli ve tüm unsurların yerleştirme düzeni sürüş zevkini artırıyor. Ayrıntılara verilen önem, direksiyon, havalandırma ızgarası, gösterge paneli ve radyo gibi tüm öğelerde göze çarpıyor. Yeni arayüz sürücü ile teknoloji arasındaki ilişkiyi ön plana çıkaracak şekilde tasarlanmış. Yeni tasarlanan çizgileri arayüz kullanımını kolaylaştırırken, ekran tasarımı ise sürücüye doğru hafif eğimi ile fiziksel bir referans noktası sunuyor.</p>
                            <p><a href="http://lh3.googleusercontent.com/-nWYhRVz6rq8/Vdo-dPCKRtI/AAAAAAAB0w0/mBoei6-GpN4/s1600/Makyajli-Seat-Ibiza-2015-14.jpg"><img class="pie-img td-modal-image" src="http://lh3.googleusercontent.com/-nWYhRVz6rq8/Vdo-dPCKRtI/AAAAAAAB0w0/mBoei6-GpN4/s1600/Makyajli-Seat-Ibiza-2015-14.jpg" alt="Makyajli-Seat-Ibiza-2015-14.jpg" width="320" height="215" /></a></p>
                            <h2>Yeni kişiselleştirme düzeyi</h2>
                            <p>Yeni Ibiza, hayatın kendisi kadar farklı ve renkli. Tüm Ibiza ailesi için geliştirilen yeni Renk Paketleri kişiselleştirme anlayışını da yeni bir düzeye taşıyor. Bu kompakt otomobil, her türlü yaşam tarzına mükemmel uyum sağlayacak şekilde geliştirilmiş. Bismuth ve Velvet renklerinin yer aldığı Renk Paketleri kullanıcıların kendini cesur bir şekilde ifade etmelerine olanak tanıyor. Ayrıca, Titanyum gri ve siyah gibi farklı renkler de sunuluyor. Yeni Ibiza’da, herkesin tercihine uygun bir Renk Paketi mevcut.</p>
                            <p>Her Renk Paketi, seçilen renge uygun döşeme unsurlarıyla birlikte geliyor. Dış tasarımda, alüminyum alaşımlı jantlar, ön ızgara çerçevesi ve yan aynalar bu renklere sahip. İçeride ise döşeme, havalandırma ızgara çerçeveleri, direksiyon ve vites kolunun ince detayları renk paketinin içerisinde yer alıyor. Bir diğer karakteristik özellik de 16 veya 17 inç olarak sunulan iki renkli alaşımlı jantlar. Böylece, Ibiza&#8217;nın dış rengi ile Renk Paketleri’nin çok farklı şekilde birleştirilmesi mümkün hale geliyor.</p>
                            <h2>Yeni güvenlik sistemleri</h2>
                            <p>Makyajlı SEAT Ibiza&#8217;da yer alan yorgunluk tespit sistemi, direksiyon yönlendirmelerine dayanarak sürücünün konsantrasyonunun azaldığı durumları hemen tespit edip, zamanında gerekli uyarıları yapıyor. Bir diğer yeni güvenlik sistemi de ikincil çarpışma freni. Bu sistem, yaşanan bir kazanın ardından otomobilin kalan kinetik enerjisini boşaltmak için otomatik olarak yavaşlamasını sağlıyor. İlk çarpma anında hava yastıklarının açılması halinde frenlere elektronik stabilite programı uygulanıyor ve uyarı ışıkları otomatik olarak devreye giriyor. Her iki güvenlik sistemi de Yeni Ibiza&#8217;da standart olarak sunuluyor.</p>
                            <h2>Yepyeni motor seçenekleri</h2>
                            <p>Makyajlı SEAT Ibiza&#8217;da baştan aşağı yeni geliştirilen benzinli ve TDI motorlar yer alıyor. Başlangıç düzeyindeki benzinli motor 1 litre hacme sahip, üç silindirli, 75 HP güç üretiyor. EcoTSI teknolojisi ve DGS şanzımana sahip 110hp gücünde bir motor versiyonu da bulunmaktadır. Serinin diğer benzinli motoru 1.2 litre, 90 HP güç üreten TSI teknolojisine sahip.</p>
                            <p>Üç silindirli, 1.4 litre yeni TDI&#8217;ın dikkat çekici teknik özellikleri arasında, ağırlığı düşüren alüminyum silindir bloğu, daha yumuşak ve sessiz çalışma özellikleri sağlayan denge şaftı modülü, suyla soğutulan ara soğutucu ve maksimum 2000 bar basınçlı enjeksiyon sistemi sayılabilir. 90 HP olarak sunulan dizel motor hem manuel hem otomatik vites seçenekleri ile satın alınabilecek.</p>
                            <h2>Azami verimlilik</h2>
                            <p>En yeni EU6 emisyon standartlarını karşılayacak şekilde geliştirilmiş üç ve dört silindirli versiyonlar, yakıt tüketimi ve emisyon rakamlarıyla da her açıdan dikkatleri üzerine çekiyor. 90 HP güce sahip 1.4 lt. TDI motor 3,8 litre yakıt tüketimine sahip. Ayrıca, 1.0 EcoTSI 110 HP ve 1.4 TDI 90 HP motorlar, DSG çift kavramalı şanzıman ve Start&amp;Stop teknolojisi ile sunuluyor.</p>
                            <p><a href="http://lh3.googleusercontent.com/-umqa12U4FqY/Vdo-_Bn922I/AAAAAAAB00U/oNiBgcAodoE/s1600/Makyajli-Seat-Ibiza-2015-42.jpg"><img class="pie-img td-modal-image" src="http://lh3.googleusercontent.com/-umqa12U4FqY/Vdo-_Bn922I/AAAAAAAB00U/oNiBgcAodoE/s1600/Makyajli-Seat-Ibiza-2015-42.jpg" alt="Makyajli-Seat-Ibiza-2015-42.jpg" width="320" height="215" /></a></p>
                            <h2>En yeni nesil bilgi-eğlence sistemi</h2>
                            <p>Dokunmatik ekran özelliğine sahip en yeni nesil bilgi-eğlence sistemleri ve entegre navigasyon, USB girişi ve Bluetooth üzerinden müzik dinlemenizi sağlıyor. Zengin bir ses deneyimi için de opsiyonel SEAT Ses Sistemi sunuluyor. Altı hoparlör ve bagaj bölmesinde yer alan subwoofer, ayar seçenekleriyle en hassas kulakları bile mutlu etmeye hazır.</p>
                            <p>Ön ve arkada yer alan opsiyonel sensör de park ederken mesafenin takip edilmesini sağlıyor ve hem sesli hem de ekran üzerinden uyarılar veriyor. Opsiyonel olarak sunulan arka görüş kamerası ekran üzerinden kolayca park etmeye yardımcı oluyor.</p>
                            <h2>Yüksek seviyede donanım</h2>
                            <p>Reference modeli konfor ve güvenlik donanımının tüm özelliklerini içinde barındırması nedeniyle etkileyici olmayı başarıyor. Reference paketinin üstünde yer alan Style versiyonda ise renkli dokunmatik ekran standart olarak sunuluyor. Ayrıca, yeni Ibiza geniş renk, opsiyon ve aksesuar seçenekleriyle kişisel tarz ve tercihlere uyumlu hale getirilebiliyor.</p>
                        </div>
                        <div id="comments">
                            <div id="respondwrap">
                                <div id="respond" class="comment-respond">
                                    <h3 id="reply-title" class="comment-reply-title">
                                        <span class="comm-reply-title">Yorum Yap</span> <small>
                                            <a rel="nofollow" id="cancel-comment-reply-link"
                                               href="/aside/2014/05/17/standard-format-post/#respond"
                                               style="display: none;">CANCEL REPLY</a>
                                        </small>
                                    </h3>
                                    <form action="http://ximudesign.com/aside/wp-comments-post.php"
                                          method="post" id="commentform" class="comment-form">
                                        <p class="span6">
                                            <input id="author" name="author" type="text"
                                                   class="requiredFieldcomm" value="Ad" size="30"
                                                   aria-required="true" tabindex="1"
                                                   onfocus="if(this.value=='Ad'){this.value='';}"
                                                   onblur="if(this.value==''){this.value='NAME';}">
                                        </p>
                                        <p class="span6">
                                            <input id="email" name="email" type="text"
                                                   class="email requiredFieldcomm" value="E-Mail" size="30"
                                                   aria-required="true" tabindex="2"
                                                   onfocus="if (this.value == 'E-Mail') { this.value = ''; }"
                                                   onblur="if(this.value==''){this.value='EMAIL';}">
                                        </p>
                                        <p>
                                            <textarea id="comment" name="comment" class="requiredFieldcomm"
                                                      cols="100%" tabindex="4" aria-required="true"
                                                      onfocus="if(this.value==this.defaultValue){this.value='';}"
                                                      onblur="if(this.value==''){this.value=this.defaultValue;}">
                                                Yorumunuz
                                            </textarea>
                                        </p>
                                        <p class="form-submit">
                                            <input name="submit" type="submit" id="submit" value="Gönder">
                                            <input type="hidden" name="comment_post_ID" value="1039"
                                                   id="comment_post_ID"> <input type="hidden"
                                                                                name="comment_parent" id="comment_parent" value="0">
                                        </p>
                                    </form>
                                </div>
                                <!-- #respond -->
                            </div>
                        </div>
                        <!-- #comments -->
                    </div>
                    <!--end content_wrap-->

                </div>
            </div>
            <!--end post-->
        </div>
        <!--end content-->
    </div>
    <!--End #main-->
</div>