﻿
@{
    ViewBag.Title = "Mazda";
}
<div id="main-wrap">
    <div id="main" style="-webkit-transform-origin: 50% 665px;">
        <div id="content">
            <div id="post-1039" class="post type-post status-publish format-standard hentry category-blog">
                <div class="row-fluid two-cols-layout" style="min-height: 799px;">
                    <div id="content_wrap" class="span8">
                        <div class="title-bar-wrap " id="title-bar">
                            <div id="title-wrap">
                                <div class="title-wrap-inn">
                                    <div id="main-title">
                                        <h1 class="main-title">Mazda Koeru Concept Frankfurt’ta tanıtıldı</h1>
                                        <div class="post-meta">
                                            <span class="post-meta-unit date">Date: Eylül 21 2015</span> <span class="post-meta-unit tag"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End #title-wrap-->
                        </div>
                        <!--End #title-bar-wrap"-->
                        <div class="entry">
                            <div class="td-post-featured-image"><a href="http://www.turkeycarblog.com/wp-content/uploads/2015/09/2015-Mazda-Koeru-Concept.jpg" data-caption=""><img width="320" height="215" itemprop="image" class="entry-thumb td-modal-image" src="http://www.turkeycarblog.com/wp-content/uploads/2015/09/2015-Mazda-Koeru-Concept.jpg" alt="" title="2015-Mazda-Koeru-Concept" /></a></div>
                            <br />
                            <p>Mazda, 2015 Frankfurt Uluslararası Otomobil Fuarı&#8217;nda (IAA) KOERU modelini görücüye çıkarırken ödüllü KODO – Hareketin Ruhu tasarım temasına büyük oranda cesaret katıyor.<span id="more-26524"></span></p>
                            <p>Dünya prömiyerini yapacak olan yeni crossover SUV konseptinin, hızlı büyüme kaydeden ve başa baş mücadelenin yaşandığı SUV segmentine yeni bir değer katacağı varsayılıyor.</p>
                            <p>Kararlı gözler, alçak kabin ve 21 inç tekerlekler üzerindeki gösterişli genişliği, hem içte hem dışta premium düzey ince işçilikle gerçekten mükemmel bir bütün oluşturuyor. Geliştirilmiş KODO formları, mükemmel aerodinamiğin yanında yüksek hız stabilitesi sunarken Mazda&#8217;nın SKYACTIV Teknolojisi, oldukça etkili sürücü odaklı güç aktarım organları ve süspansiyonun yanında yol tutuşu ve güvenliği iyileştiren ustalıkla oluşturulmuş sağlam gövde ve şasiden meydana geliyor.</p>
                            <p>Mazda&#8217;nın IAA standında aynı zamanda, özel olarak geliştirilmiş aksesuarlarla tamamlanan Yeni Mazda MX-5 roadster da sergileniyor. Bu aksesuarlar arasında, sağlam ancak ultra hafif karbon yapı içindeki bagaj kapağına monte edilmiş uzay çağını hatırlatan bagaj taşıyıcı (yanında aynı desende Moncabas bavulla sunulacaktır) ve asimetrik elmas kesim görüntülü eşsiz 17 inç alaşım jantlar özellikle dikkat çekiyor.</p>
                            <p>Japon otomobil üreticisinin yeni nesil modelleri bununla sınırlı kalmıyor. Haziran ayında Avrupa&#8217;da görücüye çıktığından beri B-SUV segmentini köklerinden sarsan yepyeni Mazda CX-3 de fuarda sergilenen modeller arasında.</p>
                            <p>Japon otomobil üreticisinin yeni nesil modelleri bununla sınırlı kalmıyor. Haziran ayında Avrupa&#8217;da görücüye çıktığından beri B-SUV segmentini köklerinden sarsan yepyeni Mazda CX-3 de fuarda sergileniyor.</p>
                        </div>
                        <div id="comments">
                            <div id="respondwrap">
                                <div id="respond" class="comment-respond">
                                    <h3 id="reply-title" class="comment-reply-title">
                                        <span class="comm-reply-title">Yorum Yap</span> <small>
                                            <a rel="nofollow" id="cancel-comment-reply-link"
                                               href="/aside/2014/05/17/standard-format-post/#respond"
                                               style="display: none;">CANCEL REPLY</a>
                                        </small>
                                    </h3>
                                    <form action="http://ximudesign.com/aside/wp-comments-post.php"
                                          method="post" id="commentform" class="comment-form">
                                        <p class="span6">
                                            <input id="author" name="author" type="text"
                                                   class="requiredFieldcomm" value="Ad" size="30"
                                                   aria-required="true" tabindex="1"
                                                   onfocus="if (this.value == 'Ad') { this.value = ''; }"
                                                   onblur="if(this.value==''){this.value='NAME';}">
                                        </p>
                                        <p class="span6">
                                            <input id="email" name="email" type="text"
                                                   class="email requiredFieldcomm" value="E-Mail" size="30"
                                                   aria-required="true" tabindex="2"
                                                   onfocus="if (this.value == 'E-Mail') { this.value = ''; }"
                                                   onblur="if(this.value==''){this.value='EMAIL';}">
                                        </p>
                                        <p>
                                            <textarea id="comment" name="comment" class="requiredFieldcomm"
                                                      cols="100%" tabindex="4" aria-required="true"
                                                      onfocus="if(this.value==this.defaultValue){this.value='';}"
                                                      onblur="if(this.value==''){this.value=this.defaultValue;}">
                                                Yorumunuz
                                            </textarea>
                                        </p>
                                        <p class="form-submit">
                                            <input name="submit" type="submit" id="submit" value="Gönder">
                                            <input type="hidden" name="comment_post_ID" value="1039"
                                                   id="comment_post_ID"> <input type="hidden"
                                                                                name="comment_parent" id="comment_parent" value="0">
                                        </p>
                                    </form>
                                </div>
                                <!-- #respond -->
                            </div>
                        </div>
                        <!-- #comments -->
                    </div>
                    <!--end content_wrap-->

                </div>
            </div>
            <!--end post-->
        </div>
        <!--end content-->
    </div>
    <!--End #main-->
</div>