﻿
@{
    ViewBag.Title = "Megane";
}
<div id="main-wrap">
        <div id="main" style="-webkit-transform-origin: 50% 665px;">
            <div id="content">
                <div id="post-1039" class="post type-post status-publish format-standard hentry category-blog">
                    <div class="row-fluid two-cols-layout" style="min-height: 799px;">
                        <div id="content_wrap" class="span8">
                            <div class="title-bar-wrap " id="title-bar">
                                <div id="title-wrap">
                                    <div class="title-wrap-inn">
                                        <div id="main-title">
                                            <h1 class="main-title">2016 Renault Megane ve Megane GT Frankfurt’ta görücüye çıktı</h1>
                                            <div class="post-meta">
                                                <span class="post-meta-unit date">Date: Eylül 21 2015</span> <span class="post-meta-unit tag"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--End #title-wrap-->
                            </div>
                            <!--End #title-bar-wrap"-->
                            <div class="entry">
                                    <div class="td-post-content td-pb-padding-side">
                                    <div class="td-post-featured-image"><a href="http://www.turkeycarblog.com/wp-content/uploads/2015/09/2016-Renault-Megane-Frankfurt-Motor-Show.jpg" data-caption=""><img width="320" height="215" itemprop="image" class="entry-thumb td-modal-image" src="http://www.turkeycarblog.com/wp-content/uploads/2015/09/2016-Renault-Megane-Frankfurt-Motor-Show.jpg" alt="" title="2016-Renault-Megane-Frankfurt-Motor-Show" /></a></div>
                                    <br />
                                    <p>2016 Renault Megane, son derece rekabetçi bir segmentte, dinamik çizgileri, sıradışı ön ve arka far tasarımı ile dikkat çekiyor.<span id="more-26502"></span></p>
                                    <p>&#8220;YeniMegane, Renault’nun ürün gamında göze çarpan yeni tasarım anlayışının bir parçası. Yeni Megane&#8217;nın dinamik hatları duygulara ve statü anlayışına hitap ederken, sahip olduğu iddialı orantılar, yoldaki sağlam duruşu ve güçlü omuz yapısı markanın Latin kökenlerine atıfta bulunuyor. Yeni Megane önde ve arkada hem gündüz hem de gece sıra dışı bir far tasarımı imzası taşıyor ve zarif iç mekanı kokpit havasını yansıtıyor.&#8221; Laurens van den Acker–Tasarım Direktörü</p>
                                    <h2>Sağlam bir duruş ve güçlü gövde formları</h2>
                                    <p>2016 Renault Megane&#8217;nın dinamik duruşu dengeli orantılar sayesinde mümkün oldu. Araç, üçüncü nesil Megane&#8217;dan 64mm daha uzun (4,359mm) ve 25mm daha alçak (1,447mm). Daha geniş tekerlek aralıkları (önde: 1,591mm, +47mm/ arkada: 1,586mm, +39mm) ve dingil mesafesi (2,669mm, +28mm) rakiplerine göre daha uzun. Otomobilin arka çıkıntısı ise bir önceki versiyonuna göre daha kısa tutuldu. Sunulan jant çeşitleri 18 inçe kadar çıkabiliyor.</p>
                                    <p>2016 Renault Megane, büyük elmas logo ve geniş ızgara ile Renault marka kimliğini bünyesinde barındırıyor. Ayrıca, hem önde hem de yanlar boyunca krom detaylar göze çarpıyor (cam çerçeveleri, yandaki logo ve kapı kolları).</p>
                                    <p>Aerodinamik özellikler de tasarımda önemli rol oynuyor. Önde her iki yanda yer alan hava delikleri, arkadaki deflektör ve aerodinamik sürüklenmeyi azaltmak amacıyla otomatik kapanan motorlu kanatçıklar buna birkaç örnek.</p>
                                    <p>Güçlü omuzları sayesinde 2016 Renault Megane, markanın genlerine işlemiş olan ayrıntıları bünyesinde barındırıyor. Gövdenin ve kaputun alt kısmındaki düzenli ve hassasiyetle belirlenmiş hatlar otomobilin dinamik duruşuna katkı sağlıyor.</p>
                                    <h2>Sıra dışı bir far tasarımı</h2>
                                    <p>Temmuz ayında ilk gösterimi gerçekleştirilen Talisman&#8217;dan ilham alan 2016 Renault Megane önde ve arkada hem gündüz hem de gece sıra dışı bir far tasarımı imzası taşıyor. Böylece markanın görsel kimliği ön plana çıkarılıyor.</p>
                                    <p>Önde yer alan gündüz sürüş ışıkları LED teknolojisine sahip. Söz konusu C-şekilli ışıklar aracın ön kısmına iddialı bir görünüm kazandırmak maksadıyla aşağıya, tamponlara kadar iniyor. 2016 Renault Megane&#8217;nın daha üst versiyonlarında hem kısa hem de uzun huzme fonksiyonlarına sahip tam-LED aydınlatma modülleri bulunuyor. Söz konusu Pure Vision LED teknolojisi halojen aydınlatma sistemlerine göre gece görüşünde dikkate değer bir iyileştirme sağlıyor.</p>
                                    <p>Hepsi LED olan arka aydınlatma ünitelerinde sürekli yanan kuyruk lambaları yer alıyor. Söz konusu yeni yatay far tasarımı aracın genişliğine vurgu yapıyor. Yeni Edge Light teknolojisi sayesinde derin, mor esintiler taşıyan kırmızı bir ışık ile 3D fırça darbesi etkisi uyandırılıyor.</p>
                                    <h2>Kokpit tarzındaki iç mekânın odak noktasında sürücü var</h2>
                                    <p>2016 Renault Megane&#8217;daki seyahat konforunu en üst düzeye çıkarmak amacıyla kullanılan malzemelerin kalitesine çok önem gösterildi.</p>
                                    <p>Sürücünün etrafına yerleştirilen ekipmanla L-biçimli bir kokpit yaratıyor. Bir üst sınıftaki araçlar için düşünülen tam renkli baş üstü göstergesi 2016 Renault Megane&#8217;da da yer alıyor. Ek olarak, ön panelde 7 inçlik renkliTFT (Thin Film Transistor) gösterge ekranı bulunuyor. Ayrıca portre formatlı 8.7-inçlik R-Link dokunmatik ekran da kolay erişilebilir şekilde orta konsoldaki yerini aldı.</p>
                                    <p>Kabin ortamının kalitesine ve uyumuna da büyük özen gösterildi. Ön göğüs için tercih edilen yumuşak dokunuşlu malzeme kapı kaplamaları boyunca zarif biçimde uzanıyor. Bu malzeme aynı zamanda ön panelin alt kısmından orta konsola doğru da uzanıyor. Üst versiyonlarda deri kaplamalı direksiyon simidi ve direksiyonun kendisinde, gösterge, havalandırma, konsol ve düğme çerçevelerinde zarif krom detaylar yer alıyor.</p>
                                    <p>Orta konsol son derece geniş ve yüksek olup, ileri/geri ayar imkanı veren kolçak ile donatıldı. Üst versiyonlarda ise iki ince ışık çizgisi sayesinde dikkatler konsolda toplanıyor. Söz konusu ışığın tonu Multi-Sense teknolojisi sayesinde kişiselleştirilebiliyor.</p>
                                    <p>Bose® audio sistemleri ise yüksek kaliteli bir ses ortamı yaratıyor. Bose ve Renault mühendisleri dokuz adet hoparlörü, subwoofer&#8217;ı ve dijital amplifikatörü optimize etmek için yakın işbirliği içinde çalıştı. Sistem son derece hassas, dengeli ve kristal gibi berrak bir ses sağlıyor.</p>
                                    <h2>Kişiyi sarmalayan koltuklar</h2>
                                    <p>Dikkatle şekillendirilmiş koltuklarda kullanılan çift yoğunluklu köpük sayesinde araç, yolcularına optimum konfor ve destek sağlanıyor. Koltukların şekli yeni Espace ve Talisman&#8217;dakiler ile aynı.</p>
                                    <p>İlhamını iç mekân mobilyalarından ve deri ürünlerden alan seçili malzemeler sıcak ve modern. Koltuklardaki ve kapı kaplamalarındaki üst dikişlerin işçiliğine Megane 3&#8217;e oranla daha fazla özen gösterildi.</p>
                                    <p>2016 Renault Megane&#8217;da beş döşeme tipi bulunuyor ve hepsi de siyah tonlarında. Üst versiyonlarda Alcantara® ile ortaklaşa geliştirilen kadife malzemeler bulunuyor. Bu sayede güçlü bir görünüm ve 3 boyutlu yoğun bir siyah etki yaratılıyor.</p>
                                    <p>Üst versiyonlarda ısıtmalı koltuklar ve elektrikli bel desteği ayarı mevcut. Sürücü koltuğunda ise masaj fonksiyonu dahi var.</p>
                                    <p>2016 Renault Megane&#8217;ın bagaj kapasitesi 384dm3 VDA (434 litre). Bu, kompakt otomobil sektöründe ikinci en büyük kapasiteye sahip; üstelik ilave 25 litrelik saklama gözleri de sunuluyor. 175 mm&#8217;lik arka diz mesafesi Megane 3’e oranla 20mm daha fazla. Omuz genişliği ise (önde 1,441mm ve arkada 1,390mm) segmentinin en iyileri arasında. Konu arka yolcu alanı ve bagaj kapasitesi olunca 2016 Renault Megane en iyisini sunuyor.</p>
                                    <h2>2016 Renault Megane GT: ilhamını Renault Sport’tan alan stil</h2>
                                    <p>2016 Renault Megane GT&#8217;de Iron Mavi adı verilen yepyeni bir renk kullanılıyor.</p>
                                    <p>Dıştan bakıldığında, ön tampon Renault Sport DNA&#8217;sını ve sportifliğini yansıtıyor. Aracın tamponu üst ve alt ızgaraların eşsiz tasarımı ile tamamlanıyor.</p>
                                    <p>Alttaki hava giriş kanalı daha geniş ve her iki yanında menfezler yer alıyor. Koyu metal kullanımı sayesinde – özellikle de kapı aynası muhafazalarında – aracın GT ailesine ait olduğu hemen göze çarpıyor. Opsiyonel18-inçlik elmas görünümlü GT-armalı jantlar Renault Sport tarafından özel olarak tasarlandı. Arkada yer alan krom kaplamalı iki egzoz çıkışı, öndeki ikiz hava giriş kanalıyla simetri yaratıyor.</p>
                                    <p>Söz konusu egzoz çıkış boruları, ilhamını Formula 1 dünyasından alan bir difüzörün yanında bulunuyor. 2016 Renault Megane GT&#8217;de Renault Sport armaları arkada sol tarafta ve her iki ön çamurlukta yer alıyor.</p>
                                    <h2>Aracın iç mekânı baştan aşağı Renault Sport</h2>
                                    <p>Kişiyi sarmalayan koltuklarda entegre başlıklar, mavi üst dikiş ve sports logoları yer alıyor. Üç farklı döşeme seçeneği sunuluyor: kumaş, mavi şeritli Alcantara® deri vesiyah şeritli Alcantara® deri. Özel tasarlanmış direksiyon simidi son derece ergonomik; sportif pedal takımı ise alüminyumdan. Ayrıca özel vites kolu ve direksiyondaki vites değiştirme kulakçıkları sportif sürüş hissin artırıyor. Gösterge grubu ve ekran vasıtasıyla aktarılan bilgiler özellikle &#8216;Race&#8217; modunun eklenmesiyle daha da dikkat çekici hale geldi. Kabin içerisindeki düz alanlarda göze çarpan mavi tonları ve üst dikişler Iron Mavi gövde rengiyle uyum içinde ve 2016 Renault Megane GT&#8217;nin eşsiz kimliğinin bir yansıması niteliğinde.</p>
                                    <h2>Bir üst segmentten alınan teknoloji ve zengin motorlar seçeneği</h2>
                                    <p>CMF (Common Module Family) C/D modüler mimarinin kullanılması sayesinde 2016 Renault Megane&#8217;nın bir üst segment yani yeni Espace ve Talisman&#8217;ın özelliklerini kullanması mümkün oldu. Bu özellikler başında şunlar yer alıyor: renkli baş üstü göstergesi, 7 inçlik renkli TFT (Thin Film Transistor) gösterge paneli, iki versiyon halinde sunulan R-Link 2 tablet (7 inçlik harita formatı veya 8.7-inç portre formatı ekran), Multi-Sense teknolojisi ve 4Control. Bu kapsamlı teknolojiler segmentte eşsiz bir yer tutuyor.</p>
                                    <h2>Bir üst segmentten alınan renkli baş üstü göstergesi</h2>
                                    <p>Katlanabilen, renkli baş üstü göstergesi bir yandan güvenliği ve sürücü konforunu artırırken öte yandan sürücü desteklerinin kullanımını kolaylaştırıyor. Sürücüleri gözlerini yoldan ayırmadan stressiz biçimde tüm bilgilere, navigasyon talimatlarına ve sürücü desteklerine (ADAS) ulaşabiliyor.</p>
                                    <p>2016 Renault Megane kısa süre önce yeni Espace ve Talisman&#8217;da gözler önüne serilen en yeni sürüş destek teknolojilerini bünyesinde barındırıyor. Tüm ADAS işlevleri R-Link 2 tableti üzerinden kontrol ediliyor:</p>
                                    <p>• Artırılmış güvenlik: ACC ile hız kontrolü (adaptif seyir kumandası), aktif acil durum frenlemesi (AEBS).</p>
                                    <p>• Uyarılar: Şerit değiştirme uyarısı(LDW), güvenli mesafe uyarısı(DW), trafik levhası tanıma ile birlikte aşırı hız uyarısı (TSR),kör nokta uyarısı(BSW).</p>
                                    <p>• Daha az stres: Geri görüş kamerası, otomatik kısa ve uzun farlar (AHLB), ön, arkayan park sensörleri ve eller serbest park desteği.</p>
                                    <p>Bu segmentte portre-formatlı 8.7-inçlik tablet ekran ile sunulan ilk otomobil</p>
                                    <p>2016 Renault Megane&#8217;da 8.7-inçlik portre-formatlı ekrana sahip R-Link 2 bulunuyor. Bu, yeni Espace ve Talisman&#8217;da kullanılan ekran ile aynı. Bu segmentte daha önce görülmemiş şekilde, söz konusu ekran kolay kullanım için akıllı telefon veya tablet bilgisayarlarda olduğu gibi kapasitif teknoloji kullanıyor.</p>
                                    <p>R-Link 2&#8217;ye navigasyon, telefon, uygulamalar ve radyo gibi unsurların daha kolay kullanılabilmesi için ses tanıma fonksiyonu da dahil. Sahip olduğu kişiselleştirilebilir üç ana sayfa sayesinde en sık kullanılan fonksiyonlara rahatlıkla erişilebiliyor. TomTom Traffic&#8217;e 12 aylık abonelik içeren (pazara bağlı olarak) bağlantı paketi ve R-Link Store sayesinde söz konusu multimedya tabletin kapsamı genişliyor.</p>
                                    <h2>Yedi-inçlik renkli TFT ekranlı gösterge modüllü ön panel</h2>
                                    <p>Yedi-inçlik renkli TFT ekranın içeriği seçilen sürüş moduna göre kişiselleştirilebiliyor. Ön panelde hız, navigasyon veya sürücü desteği gibi bilgiler görüntüleniyor.</p>
                                    <h2>İnovatif Multi-Sense teknolojisi</h2>
                                    <p>Yeni Espace ve Talisman&#8217;da kullanılan Multi-Sense teknolojisi sayesinde kullanıcılar sürüş deneyimlerini kişiselleştirebiliyor. Bu işlem gaz pedalı ve motor tepisinin modifiye edilmesi, EDC otomatik şanzımanın vites değiştirme hızının ayarlanması, koltuklardaki masaj fonksiyonun ve kabin aydınlatmasının ayarlanması ile gerçekleştiriliyor.</p>
                                    <p>Orta konsoldaki Multi-Sense tuşu tüm bu fonksiyonlara erişilmesini mümkün kılıyor.</p>
                                    <p>Sistem beş farklı sürüş modu sağlıyor: &#8216;Sport&#8217;, &#8216;Normal&#8217;, &#8216;Comfort&#8217;, &#8216;Perso&#8217; ve &#8216;Eco&#8217;. GT versiyonunda en sonuncusunun yerini &#8216;R.S. Drive&#8217; mod alıyor.</p>
                                    <p>Beş farklı iç aydınlatma seçeneği mevcut: kırmızı, yeşil, mavi, mor ve kahverengi. Aydınlatma ambiyansı orta konsolu ve lüks versiyonlarda ön ve arka kapıları kapsıyor. Yansıttığı renk is TFT ekran ve portre-formatlı multimedya ekran ile bağlantılı.</p>
                                    <h2>4Control fonksiyonu Yeni Megane GT&#8217;de</h2>
                                    <p>2016 Renault Megane GT modeli 4Control teknolojisini bu segmentte kullanan ilk otomobil. Bu teknoloji Renault Sport mühendislerince özel olarak geliştirildi.</p>
                                    <p>4Control,şasi arka tekerleklerin yönünü kontrol eden bir Renault imzası taşıyan bir inovasyon. Bu şekilde eşsiz bir sürüş deneyimi ve sportif araç tepkisi güvenlik ile birleştiriliyor.</p>
                                    <p>4Control, virajlı yollarda hassas, dinamik kullanım ve yüksek hızlarda denge sunuyor.</p>
                                    <p>Acil durumlarda ise dört tekerlekten manevra sistemi sayesinde güven verici ve çok süratli tepkiler elde ediliyor. Ardından araç sürücünün sürüş keyfini artıracak biçime daha pürüzsüz ve hassas hale geliyor. Sistem düşük hızlarda ya da park ederken de manevra kabiliyetini artırıyor.</p>
                                    <p>2016 Renault Megane&#8217;ın şasi paketini tamamlayan bir dizi kalibrasyonlar mevcut: amortisörler, yaylar, ESP, frenler, vs. Bu kalibrasyonlar sayesinde konfor ve çok yönlülük düzeyi her zaman aynı tutuluyor.</p>
                                    <p>Öte yandan, 2016 Renault Megane GT&#8217;de Renault Sport tarafından geliştirilen bazı yeni teknolojiler de mevcut: Multi Change Down teknolojisi. Bu teknoloji sayesinde hızlı vites küçültme ve ilk kalkışta ani hızlanma için Launch Control mümkün oluyor.</p>
                                    <h2>205 beygire kadar çıkan geniş motor seçeneği</h2>
                                    <p>2016 Renault Megane GT&#8217;de yedi vitesli çift kavramalı otomatik EDC şanzıman ile eşleştirilmiş 1.6 Energy TCe 205 benzinli motor kullanılacak. Altı vitesli çift kavramalı otomatik EDC şanzıman ile eşleştirilen Dizel 1.6 Energy dCi 165 motor ise GT serisini 2016 yılında tamamlayacak.</p>
                                    <p>Temel seride ise altı vitesli düz şanzımanla bir arada kullanılan 1.5 Energy dCi 110 Dizel motor yer alacak. Bu versiyonun emisyonu sadece 86g CO2/ kilometre düzeyinde (3.3 litre/100km) ve ECO2-listesinde yer alıyor.</p>
                                    <h2>2016 Renault Megane&#8217;daki diğer motor seçenekleri:</h2>
                                    <p>• Dizel: 1.5 Energy dCi 90, Altı vitesli çift kavramalı otomatik EDC şanzıman ile eşleştirilen 1.5Energy dCi 110 ve1.6 Energy dCi 130.</p>
                                    <p>• Benzinli: 1.2 Energy TCe 100; 1.2 Energy TCe 130 veyedi vitesli çift kavramalı otomatik EDC şanzıman ile eşleştirilmiş Energy TCe 130.</p>
                                    <p>&#8220;Hybrid Assist&#8221; Dizel motor ise 2017&#8217;nin başlarında sunulacak. Hedefi NEDC döngüde 3 litre/100km eşiğinin altına inme ve CO2 emisyonlarnı 76g/km&#8217;ye düşürme olan söz konusu motor 2016 Renault Megane&#8217;ı yakıt tüketimi ve CO2 emisyonları açısından pazar lideri yapacak. Söz konusu sistem hız kesme ve frenleme esnasında oluşan enerjiyi depolayarak ve düşük motor devirlerindeki belirli koşullar altında enerjiyi açığa çıkararak bunu elde edebiliyor.</p>
                                </div>
                            <div id="comments">
                                <div id="respondwrap">
                                    <div id="respond" class="comment-respond">
                                        <h3 id="reply-title" class="comment-reply-title">
                                            <span class="comm-reply-title">Yorum Yap</span> <small>
                                                <a rel="nofollow" id="cancel-comment-reply-link"
                                                   href="/aside/2014/05/17/standard-format-post/#respond"
                                                   style="display: none;">CANCEL REPLY</a>
                                            </small>
                                        </h3>
                                        <form action="http://ximudesign.com/aside/wp-comments-post.php"
                                              method="post" id="commentform" class="comment-form">
                                            <p class="span6">
                                                <input id="author" name="author" type="text"
                                                       class="requiredFieldcomm" value="Ad" size="30"
                                                       aria-required="true" tabindex="1"
                                                       onfocus="if (this.value == 'Ad') { this.value = ''; }"
                                                       onblur="if(this.value==''){this.value='NAME';}">
                                            </p>
                                            <p class="span6">
                                                <input id="email" name="email" type="text"
                                                       class="email requiredFieldcomm" value="E-Mail" size="30"
                                                       aria-required="true" tabindex="2"
                                                       onfocus="if (this.value == 'E-Mail') { this.value = ''; }"
                                                       onblur="if(this.value==''){this.value='EMAIL';}">
                                            </p>
                                            <p>
                                                <textarea id="comment" name="comment" class="requiredFieldcomm"
                                                          cols="100%" tabindex="4" aria-required="true"
                                                          onfocus="if(this.value==this.defaultValue){this.value='';}"
                                                          onblur="if(this.value==''){this.value=this.defaultValue;}">
                                                    Yorumunuz
                                                </textarea>
                                            </p>
                                            <p class="form-submit">
                                                <input name="submit" type="submit" id="submit" value="Gönder">
                                                <input type="hidden" name="comment_post_ID" value="1039"
                                                       id="comment_post_ID"> <input type="hidden"
                                                                                    name="comment_parent" id="comment_parent" value="0">
                                            </p>
                                        </form>
                                    </div>
                                    <!-- #respond -->
                                </div>
                            </div>
                            <!-- #comments -->
                        </div>
                        <!--end content_wrap-->
                        
                    </div>
                </div>
                <!--end post-->
            </div>
            <!--end content-->
        </div>
        <!--End #main-->
    </div>