﻿
@{
    ViewBag.Title = "Nissan";
}
<div id="main-wrap">
    <div id="main" style="-webkit-transform-origin: 50% 665px;">
        <div id="content">
            <div id="post-1039" class="post type-post status-publish format-standard hentry category-blog">
                <div class="row-fluid two-cols-layout" style="min-height: 799px;">
                    <div id="content_wrap" class="span8">
                        <div class="title-bar-wrap " id="title-bar">
                            <div id="title-wrap">
                                <div class="title-wrap-inn">
                                    <div id="main-title">
                                        <h1 class="main-title">2015 Nissan Gripz Concept Frankfurt’ta tanıtıldı</h1>
                                        <div class="post-meta">
                                            <span class="post-meta-unit date">Date: Eylül 27 2015</span> <span class="post-meta-unit tag"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End #title-wrap-->
                        </div>
                        <!--End #title-bar-wrap"-->
                        <div class="entry">
                            <div class="td-post-featured-image"><a href="http://www.turkeycarblog.com/wp-content/uploads/2015/09/2015-Nisssan-Gripz-Concept-Frankfurt-Motor-Show.jpg" data-caption=""><img width="320" height="215" itemprop="image" class="entry-thumb td-modal-image" src="http://www.turkeycarblog.com/wp-content/uploads/2015/09/2015-Nisssan-Gripz-Concept-Frankfurt-Motor-Show.jpg" alt="" title="2015-Nisssan-Gripz-Concept-Frankfurt-Motor-Show" /></a></div>
                            <br />
                            <p>Nissan, markanın yenilikçi geleceğine dair ipuçları veren yeni bir konsept otomobil tanıttı. Kompakt bir crossover boyutlarını koruyan Nissan Gripz Concept, spor otomobil siluetini Zorlu sürüş koşullarıyla başa çıkabilecek bir yükseklikle bir arada sunuyor.<span id="more-26499"></span></p>
                            <p>Avrupalı ve Japon tasarımcılar tarafından şekillendirilen Nissan Gripz Concept, kompakt crossover&#8217;ların yeteneklerini ve kullanışlılığını spor bir otomobilin heyecanı ve performansıyla buluşturuyor. Nissan Gripz Concept, günlük ulaşım ihtiyaçlarını karşılamak ve haftasonu da gerçek bir macera sunmak olarak iki yönlü bir otomobil olarak düşünüldü. Nissan Gripz Concept&#8217;in sürücüsü, hafta boyunca şehrin caddelerinde dolaştıktan sonar izin gününde otomobiliyle dağlarda sürüş keyfini yaşayabilir.</p>
                            <p>Gripz Concept, Nissan&#8217;ın crossover, dört çekişli otomobiller ve spor otomobiller konusundaki uzmanlığını yeni nesil için elektrikli motor teknolojisiyle bir arada sunulmasını da simgeliyor.</p>
                            <h2>Güç ünitesi</h2>
                            <p>Nissan Gripz Concept, Pure Drive e-Power isimli elektrikli araç teknolojisini baz alan bir hibrit sistemle donatıldı. Verimli bir içten yanmalı motor, Nissan Leaf&#8217; te de görev yapan elektrikli motora güç vermek için kullanılıyor.</p>
                            <p>Konseptteki güç ünitesi, Nissan&#8217;ın elektrikli araçlar geliştirme konusundaki tecrübelerini yansıtan farklı teknolojileri kombine ediyor. Bu konfigürasyon; akıcı, yumuşak ve neredeyse sessiz bir hızlanmayı birinci sınıf bir verimlilikle bir arada sunuyor. Bunun sonucu olarak Nissan Gripz Concept, yumuşak, rafine ve heyecan verici bir sürüş deneyimini sıradışı bir yakıt verimliliğiyle birleştiriyor.</p>
                            <h2>Tasarım</h2>
                            <p>Nissan Gripz Concept, mevcut bir modelin yerini alacak bir tasarım gelişiminden çok, yepyeni bir tasarım başlangıcını Nissan&#8217;ın yeni tasarım dili olan &#8220;duygusal geometri&#8221; den izlerle birlikte sunuyor.</p>
                            <p>Crossover konsepti, ilk kez 2015 Cenevre Otomobil Fuarı&#8217;nda tanıtılan Nissan Sway konseptinden dört ana tasarım elementini barındırıyor. Gripz&#8217;de de tıpkı Sway&#8217;de olduğu gibi V-motion ön ızgara, bumerang formlu ön ve arka aydınlatma elemanları, akan tavan ve kıvrımlı c sütununa yer verilmiş.</p>
                            <p>Nissan Başkan Yardımcısı ve aynı zamanda da Japon markanın tasarım ve yaratıcılık anlamındaki en yetkili ismi olan Shiro Nakamura, Nissan Gripz için yaptığı açıklamada,&#8221;Nissan kompakt crossover fikrinin öncüsü oldu. Bunun yansıması olarak da Qashqai ve Juke büyük bir başarı yakalayarak sınıflarının potansiyelini büyütüp diğer üreticilerin de rekabete dahil olmasını sağladı. Nissan Gripz Concept bu iki ikonik Nissan crossover&#8217;ının doğrudan yerini alacak bir otomobil olarak kabul edilmemeli. Ancak konsept, kompakt bir crossover&#8217;ın istendiğinde ne kadar sıradışı bir hale getirilebileceğini gösteriyor&#8221; ifadelerini kullandı.</p>
                            <p>Merkezi Londra&#8217;da bulunan Nissan Design Europe ve markanın Japonya&#8217;daki Küresel Tasarım Merkezi&#8217;nin işbirliğiyle geliştirilen Nissan Gripz Concept&#8217;in karoseri &#8220;duygusal geometri&#8221; olarak adlandırılan bir felsefeyle şekillendirilmiş. Bu felsefenin temelini dinamik, gergin ve yer yer köşeli yüzeylerin kontrastı oluşturuyor.</p>
                            <h2>Çift Yönlülük</h2>
                            <p>Konseptin şasisini oluşturan karbon kafesin üstünü etkileyici gövde panelleri bir zırh gibi kaplıyor. Dört kapılı konseptin ön kapıları dışa doğru kayıp yukarı doğru kanat şeklinde açılırken arkadaki küçük kapılar da ters yöne doğru açılarak B sütununun olmaması sayesinde konseptin kabinine girişi kolaylaşıyor.</p>
                            <p>Konseptin yüzü, alçağa yerleştirilmiş Nissan&#8217;ın V-motion ön ızgarası tarafından domine edilirken ızgaranın çevresini kısa ve uzun farlara da ev sahipliği yapan aydınlatmalar alıyor.</p>
                            <p>Farlara gömülen sürüş yönüne dönük kameralar, tıpkı bir bisikletlinin kask kamerası gibi çıkılan her yolculuğu kaydediyor. Canlı besleme (live feed) özelliği sayesinde yollardaki büyük maceralar canlı olarak yayınlanabiliyor ve sürücü otomobilinin durumunu arkadaşlarıyla bilgisayar, tablet veya akıllı telefon üzerinden eşzamanlı olarak paylaşabiliyor.</p>
                            <p>Bumerang formlu gündüz sürüş farları, ana aydınlatma elemanlarının üstünde yer alırken, mat siyah motor kaputu ve kızıl gövde arasındaki sınırı da çiziyor.</p>
                            <p>Daha fazla mat siyaha çıkıntılı tekerlek yuvalarında da rastlanıyor ve sıkıştırılıp iç bükey hale getirilmiş kapı eşiği de konseptin yerden taban yüksekliğini arttırıyor. Nissan Gripz Concept&#8217;in tavanının merkezini parlak cam bir şerit oluştururken, cam bölümün iki yanında kurşuni renkli kompozit panellere yer verilmiş.</p>
                            <p>Arka bölümde konseptin mat siyah bitişindeki kuyrukla &#8220;codatronca&#8221; efekti ortaya çıkarken, tamponda krom kaplama trapezoit egzoz çifti kullanılmış.</p>
                            <p>Üç kollu 22 inçlik jantlarda da yarış bisikletlerinden ilham alınırken, hafif ancak dayanıklı ve türüne gore ince yapılı yüksek basınçlı, lastikler konsepte özel olarak Bridgestone tarafından üretildi. Kırmızı ve beyaz grafikler lastiklerin profillerini süslerken, aynı desen konseptin iç mekanında direksiyonda da kullanılmış.</p>
                            <p>Nissan Gripz Concept&#8217;in karoser tasarımından Avrupa sorumluyken, konseptin kabininde Japonya&#8217;daki tasarım ekibinin imzası var. Karoserde olduğu gibi iç mekanda da fonksiyonel sadelik ön planda tutulan unsur olarak göze çarpıyor.</p>
                            <p>Mat gri ve kızıl renklerin birlikteliğinin ön plana çıktığı kabinde,otomobilin ünlü bisiklet yarışı Tour de France&#8217;dan aldığı ilham da açıktaki borularla gösterilirken, yarış koltukları ve katmanlı yüzeyler de tıpkı konseptin dışındaki gibi bir zırh etkisi yaratıyor.</p>
                            <p>Koltuklar ve orta konsolda doğrudan bisikletlerden ilham alınmış ve kapı kolları da yarış bisikletlerinin selesini hatırlatıyor. Üç kollu direksiyon simidi konseptin tekerleklerine gönderme yaparken, direksiyon simidindeki grafikler lastiklerin yanaklarında da bulunuyor.</p>
                            <p>Nissan Gripz Concept de tıpkı Nissan Sway Concept ve son dönemde tanıtılan seri üretim modeler gibi &#8220;Gliding Wing&#8221; (kayan kanat) gösterge tablosuna sahip. Bu zarif ve ince tasarım güç ve sadeliği bir arada sunup konseptin karakterini mükemmel biçimde yansıtıyor.</p>
                            <h2>Nissan Gripz Concept Boyutları</h2>
                            <p>
                                Uzunluk: 4,100mm<br />
                                Genişlik: 1,890mm<br />
                                Yükseklik: 1,500mm<br />
                                Aks mesafesi: 2,580mm
                            </p>
                        </div>
                        <div id="comments">
                            <div id="respondwrap">
                                <div id="respond" class="comment-respond">
                                    <h3 id="reply-title" class="comment-reply-title">
                                        <span class="comm-reply-title">Yorum Yap</span> <small>
                                            <a rel="nofollow" id="cancel-comment-reply-link"
                                               href="/aside/2014/05/17/standard-format-post/#respond"
                                               style="display: none;">CANCEL REPLY</a>
                                        </small>
                                    </h3>
                                    <form action="http://ximudesign.com/aside/wp-comments-post.php"
                                          method="post" id="commentform" class="comment-form">
                                        <p class="span6">
                                            <input id="author" name="author" type="text"
                                                   class="requiredFieldcomm" value="Ad" size="30"
                                                   aria-required="true" tabindex="1"
                                                   onfocus="if (this.value == 'Ad') { this.value = ''; }"
                                                   onblur="if(this.value==''){this.value='NAME';}">
                                        </p>
                                        <p class="span6">
                                            <input id="email" name="email" type="text"
                                                   class="email requiredFieldcomm" value="E-Mail" size="30"
                                                   aria-required="true" tabindex="2"
                                                   onfocus="if(this.value=='E-Mail'){this.value='';}"
                                                   onblur="if(this.value==''){this.value='EMAIL';}">
                                        </p>
                                        <p>
                                            <textarea id="comment" name="comment" class="requiredFieldcomm"
                                                      cols="100%" tabindex="4" aria-required="true"
                                                      onfocus="if(this.value==this.defaultValue){this.value='';}"
                                                      onblur="if(this.value==''){this.value=this.defaultValue;}">
                                                Yorumunuz
                                            </textarea>
                                        </p>
                                        <p class="form-submit">
                                            <input name="submit" type="submit" id="submit" value="Gönder">
                                            <input type="hidden" name="comment_post_ID" value="1039"
                                                   id="comment_post_ID"> <input type="hidden"
                                                                                name="comment_parent" id="comment_parent" value="0">
                                        </p>
                                    </form>
                                </div>
                                <!-- #respond -->
                            </div>
                        </div>
                        <!-- #comments -->
                    </div>
                    <!--end content_wrap-->

                </div>
            </div>
            <!--end post-->
        </div>
        <!--end content-->
    </div>
    <!--End #main-->
</div>