﻿
@{
    ViewBag.Title = "Opel";
}
<div id="main-wrap">
    <div id="main" style="-webkit-transform-origin: 50% 665px;">
        <div id="content">
            <div id="post-1039" class="post type-post status-publish format-standard hentry category-blog">
                <div class="row-fluid two-cols-layout" style="min-height: 799px;">
                    <div id="content_wrap" class="span8">
                        <div class="title-bar-wrap " id="title-bar">
                            <div id="title-wrap">
                                <div class="title-wrap-inn">
                                    <div id="main-title">
                                        <h1 class="main-title">2016 Opel Astra Kasımda Türkiye’de</h1>
                                        <div class="post-meta">
                                            <span class="post-meta-unit date">Date: Ekim 7 2015</span> <span class="post-meta-unit tag"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End #title-wrap-->
                        </div>
                        <!--End #title-bar-wrap"-->
                        <div class="entry">
                            <div class="td-post-content td-pb-padding-side">
                                <div class="td-post-featured-image"><a href="http://www.turkeycarblog.com/wp-content/uploads/2015/09/2016-Opel-Astra-HB-Frankfurt.jpg" data-caption=""><img width="320" height="215" itemprop="image" class="entry-thumb td-modal-image" src="http://www.turkeycarblog.com/wp-content/uploads/2015/09/2016-Opel-Astra-HB-Frankfurt.jpg" alt="" title="2016-Opel-Astra-HB-Frankfurt" /></a></div>
                               <br />
                                 <p>2016 Opel Astra ve 2016 Opel Astra Sports Tourer&#8217;in dünya lansmanı 66&#8217;ncı Uluslararası Frankfurt Otomobil Fuarı&#8217;nda gerçekleştirdi.<span id="more-26527"></span></p>
                                <p>Kasım ayından itibaren Türkiye pazarında satışa sunulacak olan yeni Opel Astra sahip olduğu özelliklerle kompakt sınıfın çıtasını yukarıya çekiyor. 2016 Opel Astra&#8217;nın dünya lansmanı Salon 8.0 Stand D09&#8217;daki 3.300 m2 büyüklüğündeki Astra Galaxy&#8217;de gerçekleştirildi. Fuarda ayrıca 50 yıl önce lansmanı yapılan Kadett B ve konsept otomobil GT anılırken, farklı departmanlardan Opel uzmanları da ziyaretçilerle bir araya geldi.</p>
                                <p>Opel, yeni Astra ve yeni Astra Sports Tourer&#8217;in dünya lansmanını 17-27 Eylül tarihlerinde kapılarını ziyarete açan 66&#8217;ncı Frankfurt Otomobil Fuarı&#8217;nda gerçekleştirdi. Tasarımı, bünyesinde barındırdığı teknolojileri, zengin donanımı ve verimli motorlarıyla yeni Opel Astra &#8220;kompakt sınıfın geleceği&#8221; olarak tanımlanıyor.</p>
                                <p>Opel Türkiye Genel Müdürü Özcan Keklik fuar öncesi yaptığı değerlendirmede &#8220;Yeni Astra, Opel&#8217;i ve kompakt sınıfı tamamen yeni bir boyuta taşıyor. İki yıl önce Frankfurt&#8217;ta Monza Concept&#8217;i sergilemiştik. Şimdi ise bünyesinde konseptin birçok öğesini barındıran tamamen yeni Astra neslini sunuyoruz. Yeni Astra çok daha verimli, çok daha hafif ve çok konforlu bir yapıya sahip. Bünyesinde barındırdığı teknolojik çözümlerle kompakt sınıfta çıtayı bir basamak daha yükseltiyor. IAA&#8217;yı ziyaret edin ve büyüleyici Astra Galaxy&#8217;nin dünyasını keşfedin&#8221; dedi.</p>
                                <h2>Kompakt sınıfta çıtayı yükseltiyor: Yeni Opel Astra</h2>
                                <p>Daha hafif, daha tutumlu ve daha konforlu yapısıyla kompakt sınıfa yeni standartlar getiren 11&#8217;inci nesil Opel Astra geliştirilirken, 2013 Frankfurt Otomobil Fuarında sergilenen Monza Concept rol model olarak alındı. Tıpkı Monza Concept gibi 2016 Opel Astra da her bir ayrıntısıyla verimliliğe odaklanan bir yapı sergiliyor. Hafif yapı prensibiyle üretilen yeni Astra bu sayede önceki nesil ile karşılaştırıldığında 200 kg daha hafif bir yapı ortaya koyuyor. Yeni mimari sadece daha hafif bir yapı sunmakla kalmıyor, aynı zamanda beraberinde daha atak ve konforlu bir sürüşü de getiriyor.</p>
                                <p>2016 Opel Astra&#8217;nın vaat etmiş olduğu sürüş deneyiminde motorlar çok önemli bir rol üstleniyor. Tamamen yeni motorlar 95 beygir ile 200 beygir arasında güç alternatifleri sunuyor. Küçük hacimli benzinli ve dizel motorlar sarsıntısız ve sessiz yapılarıyla yüksek verimlilik vaat ediyor. Tamamen yeni 1.4 ECOTEC direkt enjeksiyonlu turbo motor ise 2016 Opel Astra ile birlikte ilk kez kullanılacak. Hafif yapı prensibiyle üretilen dört silindirli alüminyum motor 125 beygir veya 150 beygir olmak üzere iki farklı güç alternatifine sahip. 245 Nm&#8217;ye varan yüksek tork akıcı bir sürüş sunarken, 4,9 lt/100 km&#8217;lik ortalama tüketim ve 114 gr/km CO2 egzoz gazı salınım değeri tutumlu ve çevreci bir yapı sunuyor.</p>
                                <p>Bir alt basamakta yer alan 3 silindirli 1.0 ECOTEC direkt enjeksiyonlu turbo motor 105 beygir gücüyle tüketimi 4,2 lt/100 km ve CO2 değerini ise 96 gr/km&#8217;ye kadar düşürüyor. 95 beygir, 110 beygir ve 136 beygir olmak üzere üç farklı güç alternatifine sahip 1.6 CDTI motor ise altı vitesli manuel şanzımanla 3,4 lt/100 km tüketim ve 90 gr/km egzoz gazı emisyon değeriyle tutumlu ve çevreci bir yapı sergiliyor. 2016 Opel Astra ile ilk kez kullanım bulan bir diğer motor ise yeni 1.6 ECOTEC direkt enjeksiyonlu turbo motor. 200 beygir güç ve overboost anında 300 Nm tork üreten motor iddialı performans değerlerinin habercisi niteliğinde.</p>
                                <p>2016 Opel Astra, bünyesinde barındırdığı teknolojiyi, performansı ve verimliliği yansıtan son derece dinamik ve modern bir tasarımla dikkat çekiyor. Opel tasarım dilinin geçirmiş olduğu ve &#8216;Heykeltıraşlık sanatı Alman mühendisliğiyle buluşuyor&#8217; olarak tanımlanan evrim yeni Astra&#8217;da kendini net bir şekilde gösteriyor. Çift ızgara ve farlarla bütünleşen krom ön panjur kadar bölünmüş C sütunu da akıcı ve dinamik bir görünümü beraberinde getiren detaylar. 4,37 metre uzunluğu ile önceki nesilden 5 cm kadar daha kısa ve 1,48 metre yüksekliği ile önceki nesilden 2,5 cm daha alçak olan 2016 Opel Astra aerodinamik iyileştirmelerin de etkisiyle 0,285&#8217;lik rüzgar sürtünme katsayısıyla oldukça iddialı bir değere imza atıyor.</p>
                                <h2>Azalan dış boyutlarına karşın iç boyutlar artmış durumda</h2>
                                <p>Opel mühendisleri bu zorlu denklemi çözmek için gereken tüm imkanları kullandılar. Arka koltuk yolcuları 35 mm daha fazla ayak mesafesinin keyfini sürerken kokpitteki düğmelerin sayısı azaltılıp bu fonksiyonlar dokunmatik ekrana taşındı. Böylece kullanıcı dostu ve ergonomik bir kokpit elde edildi. Ödüllü bilgi ve eğlence sistemi IntelliLink, sürücünün rahat görebilmesi ve erişim sağlayabilmesi için orta konsolun ortasına konumlandırıldı.</p>
                                <p>Sadece daha hafif bir gövde, daha geniş bir yaşam alanı ve yüksek verimliliğe sahip motorlar sunmakla kalmayan yeni Astra aynı zamanda bir dizi teknolojik ekipmanla sürücü ve beraberinde yolcuların konfor ve güvenliğine katkı sağlıyor. Yeni Astra ile ilk kez kullanıma sunulan IntelliLink bilgi ve eğlence sistemi Apple CarPlay ve Android Auto entegrasyonu ile akıllı cep telefonu senkronizasyonuna imkan verirken, akıllı IntelliLux LED® Matrix far teknolojisi ise sürüş koşuluna göre uzun far kullanımını otomatik ayarlayarak sürüş güvenliğine yardımcı oluyor. Bunun dışında yeni nesil Opel-Eye ön kamera ile çalışan; Trafik İşareti Tanıma, Şerit Takip ve Önden Çarpışma Uyarısı gibi birçok yenilikçi sürüş destek sistemi ise sürüş güvenliğini sağlamada sürücüye yardımcı oluyor. Yeni nesil AGR (Daha Sağlıklı Sırt Kampanyası) sertifikalı ergonomik koltuklar ayarlı yan destekleri, masaj ve hafıza özelliği kadar havalandırma özelliği ile de sürüş konforunu arttırıyor.</p>
                                <h2>İster hobi, ister aile: 2016 Astra Sports Tourer</h2>
                                <p>Opel, ikinci dünya lansmanı olarak IAA&#8217;da 2016 Opel Astra Sports Tourer&#8217;i sergiliyor. Hatchback gövde tipiyle aynı teknik yapıyı ve teknolojileri paylaşan station wagon gövde tipi de önceki nesil ile kıyaslandığında 200 kg daha hafif bir gövdeye sahip. Ön koltuklar 22 milimetre daha fazla baş mesafesinin, arka koltuk yolcuları ise 28 mm daha fazla diz mesafesinin keyfini sürerken, bagaj kapasitesi artarak 1.630 litreye ulaştı.</p>
                                <p>Kompakt station wagon yeni nesille birlikte yeni teknolojileri de kullanıma sunuyor. Bunlardan biri elektrik kumandalı otomatik bagaj kapağı. &#8216;Anahtarsız Giriş&#8217; özelliği ile bağlantılı olarak kullanıcı ellerini kullanmadan arka tamponun altına hafif bir tekme atarak bagaj kapağının otomatik olarak açılmasını sağlayabiliyor. Bagaj kapağını kapatmak için ise ikinci bir tekme yeterli oluyor. Güvenlikten hiçbir zaman taviz vermeyen Opel mühendisleri sistemi olası bir acil durumda duracak şekilde sensörlerle desteklemiş. Fonksiyonelliği daha da arttırmak için opsiyonel olarak 40/20/40 oranında katlanan arka koltuklar devreye giriyor.</p>
                                <h2>50 yıl önce: IAA&#8217;da Kadett B ve GT lanse edilmişti</h2>
                                <p>Yenilikçi vizyon ve yenilikçi teknolojiler her zaman çok ses getirir ve geniş kitlerle ulaşır. Her iki kavram da Opel&#8217;de köklü bir geçmişe sahip. 50 yıl önce -bugüne kadar üretilen en verimli Astra&#8217;dan yarım asır önce- Opel Frankfurt&#8217;ta iki önemli modeli tanıttı. Üretici 1965 yılında IAA günümüz Astra&#8217;nın atası olan Kadett B&#8217;yi lanse etti. Tam bir başarı hikayesi olan model takip eden yıllarda 2,6 milyon kullanıcıya ulaşırken, ralli versiyonu ise motorsporlarında başarıdan başarıya koştu. Bir diğer önemli yeniklik olan GT de yine dönemin Kadett&#8217;i ile aynı teknik yapıya sahipti. GT aynı zamanda Opel&#8217;in konsept otomobil üreten ve sergileyen ilk Avrupalı üretici olmasını sağladı. İki kişilik spor otomobil tasarım olarak dönemin Avrupalı otomobillerinin önündeydi. Avrupalı üreticilerin konsept otomobil üretme fikrinin öncüsü niteliğinde olan GT, çok değil 3 yıl kadar sonra üstelik de konsept otomobile oldukça yakın bir tasarımla seri üretime girdi.</p>
                                <h2>Otomobiller ve çok daha fazlası: Opel ile ilgili her şey burada</h2>
                                <p>Sadece yeni Astra değil, Opel&#8217;in 3.330 m2&#8217;ye yayılan standında 30 kadar model sergilenecek. Opel dünyasını daha yakından tanımak ve detaylı bilgi almak isteyenler için ise; ürün uzmanları, eğitim uzmanları, Müşteri Bilgi Merkezi, Opel Finans, Opel Rent, Opel Sigorta ve diğer bölümlerden yetkililer hazır bulunacak. Ayrıca Alman Futbol Ligi Bundesliga&#8217;dan birçok ünlü misafirle yine Astra Galaxy&#8217;de bir araya gelme fırsatı söz konusu. Bunun dışında Opel&#8217;in yenilikçi araç paylaşım programı CarUnity, Opel sertifikalı 2.El otomobil programı ve Opel baskılı birçok ürünü Opel tutkunlarıyla buluşturtan OpelShop da yine stantta yer alacak olan hizmetler.</p>
                            </div>
                        <div id="comments">
                            <div id="respondwrap">
                                <div id="respond" class="comment-respond">
                                    <h3 id="reply-title" class="comment-reply-title">
                                        <span class="comm-reply-title">Yorum Yap</span> <small>
                                            <a rel="nofollow" id="cancel-comment-reply-link"
                                               href="/aside/2014/05/17/standard-format-post/#respond"
                                               style="display: none;">CANCEL REPLY</a>
                                        </small>
                                    </h3>
                                    <form action="http://ximudesign.com/aside/wp-comments-post.php"
                                          method="post" id="commentform" class="comment-form">
                                        <p class="span6">
                                            <input id="author" name="author" type="text"
                                                   class="requiredFieldcomm" value="Ad" size="30"
                                                   aria-required="true" tabindex="1"
                                                   onfocus="if (this.value == 'Ad') { this.value = ''; }"
                                                   onblur="if(this.value==''){this.value='NAME';}">
                                        </p>
                                        <p class="span6">
                                            <input id="email" name="email" type="text"
                                                   class="email requiredFieldcomm" value="E-Mail" size="30"
                                                   aria-required="true" tabindex="2"
                                                   onfocus="if(this.value=='E-Mail'){this.value='';}"
                                                   onblur="if(this.value==''){this.value='EMAIL';}">
                                        </p>
                                        <p>
                                            <textarea id="comment" name="comment" class="requiredFieldcomm"
                                                      cols="100%" tabindex="4" aria-required="true"
                                                      onfocus="if(this.value==this.defaultValue){this.value='';}"
                                                      onblur="if(this.value==''){this.value=this.defaultValue;}">
                                                Yorumunuz
                                            </textarea>
                                        </p>
                                        <p class="form-submit">
                                            <input name="submit" type="submit" id="submit" value="Gönder">
                                            <input type="hidden" name="comment_post_ID" value="1039"
                                                   id="comment_post_ID"> <input type="hidden"
                                                                                name="comment_parent" id="comment_parent" value="0">
                                        </p>
                                    </form>
                                </div>
                                <!-- #respond -->
                            </div>
                        </div>
                        <!-- #comments -->
                    </div>
                    <!--end content_wrap-->

                </div>
            </div>
            <!--end post-->
        </div>
        <!--end content-->
    </div>
    <!--End #main-->
   </div>
</div>