﻿@model carblog.Models.AddPhoneNumberViewModel
@{
    ViewBag.Title = "Phone Number";
}
<div id="main-wrap">
    <div id="main" style="-webkit-transform-origin: 50% 665px;">
        <div id="content">
            <div id="post-1039" class="post type-post status-publish format-standard hentry category-blog">
                <div class="row-fluid two-cols-layout" style="min-height: 799px;">
                    <div id="content_wrap" class="span8">
                        <div class="title-bar-wrap " id="title-bar">
                            <div id="title-wrap">
                                <div class="title-wrap-inn">
                                    @using (Html.BeginForm("AddPhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <h4>Telefon Numarasını Ekleyiniz</h4>
                                        <hr />
                                        @Html.ValidationSummary("", new { @class = "text-danger" })
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Number, new { @class = "col-md-2 control-label" })
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(m => m.Number, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-offset-2 col-md-10">
                                                <input type="submit" class="btn btn-default" value="Gönder" />
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
