﻿@model carblog.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<div id="main-wrap">
    <div id="main" style="-webkit-transform-origin: 50% 665px;">
        <div id="content">
            <div id="post-1039" class="post type-post status-publish format-standard hentry category-blog">
                <div class="row-fluid two-cols-layout" style="min-height: 799px;">
                    <div id="content_wrap" class="span8">
                        <div class="title-bar-wrap " id="title-bar">
                            <div id="title-wrap">
                                <div class="title-wrap-inn">
                                    <p class="text-success">@ViewBag.StatusMessage</p>
                                    <div>
                                        <h4>Hesabınızı Düzenleyin</h4>
                                        <hr />
                                        <dl class="dl-horizontal">
                                            <dt>Şifre:</dt>
                                            <dd>
                                                [
                                                @if (Model.HasPassword)
                                                {
                                                    @Html.ActionLink("Şifre Değiştir", "ChangePassword")
                                                }
                                                else
                                                {
                                                    @Html.ActionLink("Create", "SetPassword")
                                                }
                                                ]
                                            </dd>
                                            <dt>Bağlantılı Girişler:</dt>
                                            <dd>
                                                @Model.Logins.Count [
                                                @Html.ActionLink("Düzenle", "ManageLogins") ]
                                            </dd>
                                            @*
                Phone Numbers can used as a second factor of verification in a two-factor authentication system.

                 See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                    for details on setting up this ASP.NET application to support two-factor authentication using SMS.

                 Uncomment the following block after you have set up two-factor authentication
                                            *@
                                            @*
                <dt>Phone Number:</dt>
                <dd>
                    @(Model.PhoneNumber ?? "None") [
                    @if (Model.PhoneNumber != null)
                    {
                        @Html.ActionLink("Change", "AddPhoneNumber")
                        @: &nbsp;|&nbsp;
                        @Html.ActionLink("Remove", "RemovePhoneNumber")
                    }
                    else
                    {
                        @Html.ActionLink("Add", "AddPhoneNumber")
                    }
                    ]
                </dd>
                                            *@
                                            <dt>Two-Factor Authentication:</dt>
                                            <dd>
                                                <p>
                                                    There are no two-factor authentication providers configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                                                    for details on setting up this ASP.NET application to support two-factor authentication.
                                                </p>
                                                @*@if (Model.TwoFactor)
                    {
                        using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <text>Enabled
                            <input type="submit" value="Disable" class="btn btn-link" />
                            </text>
                        }
                    }
                    else
                    {
                        using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <text>Disabled
                            <input type="submit" value="Enable" class="btn btn-link" />
                            </text>
                        }
                    }*@
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

