﻿@{
    ViewBag.Title = "Confirm Email";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        E-Mail adresinizi doğruladığınız için teşekkürler. Lütfen @Html.ActionLink("Giriş Yapmak İçin Buraya Tıklayınız", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
