﻿@using carblog.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<div id="main-wrap">
    <div id="main" style="-webkit-transform-origin: 50% 665px;">
        <div id="content">
            <div id="post-1039" class="post type-post status-publish format-standard hentry category-blog">
                <div class="row-fluid two-cols-layout" style="min-height: 799px;">
                    <div id="content_wrap" class="span8">
                        <div class="title-bar-wrap " id="title-bar">
                            <div id="title-wrap">
                                <div class="title-wrap-inn">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <section id="loginForm">
                                                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                                {
                                                    @Html.AntiForgeryToken()
                                                    <h4>CarBlog Hesabı İle Giriş Yapın</h4>
                                                    <hr />
                                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                    <div class="form-group">
                                                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                                                        <div class="col-md-10">
                                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                                                        <div class="col-md-10">
                                                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-md-offset-2 col-md-10">
                                                            <div class="checkbox">
                                                                @Html.CheckBoxFor(m => m.RememberMe)
                                                                @Html.LabelFor(m => m.RememberMe)
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-md-offset-2 col-md-10">
                                                            <input type="submit" value="Giriş" class="btn btn-default" />
                                                        </div>
                                                    </div>
                                                    <p>
                                                        @Html.ActionLink("Kayıt Ol", "Register")
                                                    </p>
                                                    @* Enable this once you have account confirmation enabled for password reset functionality
                                                        <p>
                                                            @Html.ActionLink("Şifremi Unuttum", "ForgotPassword")
                                                        </p>*@
                                                }
                                            </section>
                                        </div>
                                        <div class="col-md-4">
                                            <section id="socialLoginForm">
                                                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                                            </section>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}